
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>

<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@GlobalResEstate.lblTransactionStatus.ToUpper()</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="List">@GlobalResEstate.lblTransactionStatus</label>
                                    @Html.DropDownList("CloseOpen", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4">
                                    <label for="BulanProses">@GlobalResEstate.lblMonth</label>
                                    @Html.DropDownList("MonthList", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4">
                                    <label for="TahunProses">@GlobalResEstate.lblYear</label>
                                    @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-report">
                    <input class="btn btn-primary" type="submit" name="viewaudittrail" id="viewaudittrail" value=@GlobalResEstate.btnViewAuditTrail />
                    <input class="btn btn-primary" type="submit" name="proceed" id="proceed" value="Teruskan" />
                </div>
            </div>
        }
    </div>
</section>
<script>
    $("#proceed").click(function () {
        var Month = $("#MonthList").val();
        var Year = $("#YearList").val();
        var CloseOpen = $("#CloseOpen").val();
        $("#UpdateProgress1").css("display", "");
        var ajxfn = {};
        ajxfn.url = "@Url.Action("CloseTransaction", "BizTransac")";
        ajxfn.type = "POST";
        ajxfn.async = false;
        ajxfn.data = JSON.stringify({ Month: Month, Year: Year, CloseOpen: CloseOpen });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $.simplyToast(result.msg, result.statusmsg);
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);

        return false;
    });

    $('#viewaudittrail').click(function (e) {
        var Populink = "@Url.Action("AuditTrail", "BizTransac", null, "http")";
        window.open(Populink, null, "height=500,width=1000,status=yes,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=no");
        e.stopPropagation();
        e.preventDefault();
    });
</script>
