@using MVC_SYSTEM.Class
@model MVC_SYSTEM.CustomModels.CustMod_SAPCredential

@{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">SAP Authentication</h3>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "submitSAPForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">User ID Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">SAP ID:</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.SapID, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SapID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Password:</label>
                            <div class="col-sm-7">
                                @Html.PasswordFor(model => model.SapPassword, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SapPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.GLtoGLGuid)
                    @Html.HiddenFor(model => model.GLtoGVendorGuid)
                    @Html.HiddenFor(model => model.GLtoGCustomerGuid)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success submitBtn">@GlobalResEstate.btnSubmit</button>
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResEstate.btnBack</button>
        </div>
    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");

    $(document).on("keypress", "form", function(event) {
        return event.keyCode != 13;
    });
</script>