@using MVC_SYSTEM.Class
@{
    ViewBag.Title = "Working Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig getconfig = new GetConfig();
    string dateformat = getconfig.GetData("dateformat");
    ViewBag.DateScriptAdv = 1;
}
<style>
    .panel-body {
        padding-bottom: 0px !important;
    }
    .disableTab{
        pointer-events:none;
    }

    .hovering {
        background: #b0b0b0;
    }

    #ListofDetail {
        overflow-y: auto;
    }
    #ListofDetail3 {
        overflow-y: auto !important;
    }
    #ListofDetail4 {
        overflow-y: auto !important;
    }
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 50px;
        z-index: 2;
        width: auto !important;
        padding-right: 45px;
    }
    #addksranlain {
        padding: 0px 5px 0px 5px !important;
    }
    .well {
        overflow-x: unset !important;
    }
</style>

<link href="~/Asset/ConfirmAlert/css/jquery-confirm.css" rel="stylesheet" />
<script src="~/Asset/ConfirmAlert/js/jquery-confirm.js"></script>
<div id="UpdateProgress1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>
<section class="content-wrapper main-content clear-fix">
    <div class="well" id="well">
        @using (Html.BeginForm("Attendance", "CheckRollPUP", FormMethod.Post, new { id = "Attendance" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-sm-12" id="selectionsection">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResEstate.lblAttendanceInfo.ToUpper()</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-2">
                                @Html.RadioButton("SelectionCategory", 1, false, new { @id = "SelectionCategory1" })
                                @Html.Label(GlobalResEstate.lblGroupSelection)
                            </div>
                            <div class="col-sm-2">
                                @Html.RadioButton("SelectionCategory", 2, false, new { @id = "SelectionCategory2" })
                                @Html.Label(GlobalResEstate.lblIndividuSelection)
                            </div>
                            <div class="col-sm-4">
                                <label id="catsel">**@GlobalResEstate.msgChooseCtgri</label>
                                @Html.DropDownList("SelectionData", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label for="startdate">@GlobalResEstate.lblDate</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="datetime" class="form-control" name="dateseleted" id="dateseleted" onkeydown="return false" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1" style="padding-top:30px;">
                                <label id="day"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                        <ul id="mytabs" class="nav nav-tabs">
                            <li id="tabhadir" class="active"><a href="#tab1primary" data-toggle="tab">@GlobalResEstate.hdrAttendance.ToUpper()</a></li>
                            <li id="tabkerja" class="disableTab"><a href="#tab2primary" data-toggle="tab">@GlobalResEstate.lblWork.ToUpper()</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                                @{
                                Html.RenderAction("Attendance", "CheckRollPUP");
                                }
                            </div>
                            <div class="tab-pane fade" id="tab2primary">
                                @{
                                Html.RenderAction("WorkDetail", "CheckRollPUP");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='myModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'>@Html.Action("_NeglectedDay", "CheckRollPUP")</div>
                </div>
            </div>
        </div>
        <div class="modal-footer col-md-12" style="margin-top: 20px;">
            <a style="text-align:right" href="@Url.Action("Index", "CheckRollMain")" class="btn btn-warning">@GlobalResEstate.btnBack</a>
        </div>
}
    </div>
</section>
<script>
    var heightglobal = 0;
    //GetActivty();
    //GetActivty2();
    function ClearInput() {
        $("#hargaKesukaranLain").val(0);
        $('#KesukaranLain').text('RM 0');
        $("#MngrID").val(0);
        $("#DTApp").val('');
        $('#ManagerID2').val('');
        $('#ManagerPassword2').val('');
    }
    $("#Rainning").change(function () {
        var status = $('#Rainning').val();
        var atteditstatus = $('#atteditstatus').val();
        ClearInput();
        $('#ManagerID').val('');
        $('#ManagerPassword').val('');
        if (status == 1 && atteditstatus == 0) {
            $('#myModal').modal('show');
        }
        else if (status == 0 && atteditstatus == 0) {

        }
        else {
            $('#SaveAtt').attr("disabled", true);
            alertmsg('Attention', 'Please delete attendance before do next action.')
        }
    });

    $("#addksranlain").click(function () {
        ClearInput();
        $('#myModal2').modal('show');
    });

    $('#myModal').modal({
        backdrop: 'static',
        show: false,
        keyboard: false
    })

    $('#myModal2').modal({
        backdrop: 'static',
        show: false,
        keyboard: false
    })

    $("#back").click(function () {
        ClearInput();
        $('#Rainning').val(0);
        $('#ManagerID').val('');
        $('#ManagerPassword').val('');
    });

    $('#Rainning').attr("disabled", true);

    $("#JenisChargeHT").change(function () {
        var JenisChargeHT = $('#JenisChargeHT').val();
        if (JenisChargeHT == 'kadaran') {
            $('#PilihanMasaHT').attr("disabled", true);
            $('#JnisPktHT').attr("disabled", true);
            $('#PilihanPktHT').attr("disabled", true);
            $('#PilihanAktvtHT').attr("disabled", true);
            $('#NNCCHT').attr("disabled", true);
            $('#SAPPilihanAktvtHT').attr("disabled", true);
            $('#PilihanAktvtHT').attr("disabled", true);
            $('#JnisAktvtHT').attr("disabled", true);
        }
        else {
            $('#PilihanMasaHT').attr("disabled", false);
            $('#JnisPktHT').attr("disabled", false);
            $('#PilihanPktHT').attr("disabled", false);
            $('#PilihanAktvtHT').attr("disabled", false);
            $('#NNCCHT').attr("disabled", false);
            $('#SAPPilihanAktvtHT').attr("disabled", false);
            $('#PilihanAktvtHT').attr("disabled", false);
            $('#JnisAktvtHT').attr("disabled", false);
        }
    });
    
    $("#PilihanAktvtHT").change(function () {
        $("#UpdateProgress1").css("display", "");
        var JnisPkt = $("#JnisPktHT").val();
        var PilihanPkt = $("#PilihanPktHT").val();
        var PilihanAktvt = $("#PilihanAktvtHT").val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetGLSAP", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisPkt: JnisPkt, PilihanPkt: PilihanPkt, PilihanAktvt: PilihanAktvt });
        ajxfn.datatype = "json";
        ajxfn.async = false;
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            if (result.GLCode != "") {
                $('#sapglneg').text('SAP GL Code : ' + result.GLCode + ' - Activity Desc : ' + result.NameAktiviti);
                $('#SaveNeg').attr("disabled", false);
            }
            else {
                alertmsg('Perhatian', result.msg)
                $('#sapglneg').text('SAP GL Code : Not Found - Activity Desc : ' + result.NameAktiviti);
                $('#SaveNeg').attr("disabled", true);
            }

            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
        };
        $.ajax(ajxfn);
    });

    $('#descactvtykong').click(function (e) {
        var Populink = "@Url.Action("ActivityCodeDetails", "CheckRollPUP", null, "http")";
        var TypeAct = '05';
        Populink = Populink + "/?ActivityType=" + TypeAct;
        window.open(Populink, null, "height=600,width=800,status=yes,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=no");
        e.stopPropagation();
        e.preventDefault();
    });

    $().ready(function () {
        $('#WorkData').click(function (e) {
            $('#mytabs a[href="#tab2primary"]').tab('show');
        })
    });

    $(window).resize(function () {
        if ($(document).width() <= 974) {
            $("#attinfo").removeClass('col-sm-8');
            $("#attinfo").addClass('col-sm-12');
        }
        else {
            $("#attinfo").removeClass('col-sm-12');
            $("#attinfo").addClass('col-sm-8');
        }
    });

    $(window).on("load", function () {
        var widthsize = $(window).width();
        if (parseInt(widthsize) <= 974) {
            $("#attinfo").removeClass('col-sm-8');
            $("#attinfo").addClass('col-sm-12');
        }
        else {
            $("#attinfo").removeClass('col-sm-12');
            $("#attinfo").addClass('col-sm-8');
        }
    });

    $("#SaveAtt").attr('disabled', true);
    $("#WorkData").attr('disabled', true);
    $("#allcheckbookdiv").css("display", "none");
    $("#SaveWrkbtndiv").css("display", "none");
    $('#tabkerja').addClass('disableTab');

    function calculatetotal(hasil, kadar, gandaankadar, jumlah, jumlahH, jumlahHS, JnisAktvt) {
        $("#UpdateProgress1").css("display", "");
        var checkvalidkwsnskr = "3";
        var hargaKesukaranLain = $("#hargaKesukaranLain").val();
        var hargakwsnskr = 0;
        
        switch (checkvalidkwsnskr) {
            case "1":
                hargakwsnskr = parseFloat(hargaKesukaranMembaja);
                break;
            case "2":
                hargakwsnskr = parseFloat(hargaKesukaranMenuai);
                break;
            case "3":
                hargakwsnskr = parseFloat(hargaKesukaranLain);
                break;
            default:
                hargakwsnskr = 0;
        }
        var maxhasil = $("#maxhasil").val();
        var hasil1 = $(hasil).val();
        var hargakwsnskr1 = hargakwsnskr;
        if (parseFloat(hasil1) <= parseFloat(maxhasil)) {
            var datano = $("#datano").val();
            var loopdatahdr = $("#loopdatahdr").val();
            var splitdata = datano.split(',');
            if ($("#allsame").is(":checked")) {
                for (var i = 0; i < loopdatahdr; i++) {
                    var kadar1 = $("#kadar_" + splitdata[i]).val();
                    var gandaankadar1 = $("#gandaankadar_" + splitdata[i]).val();
                    var gettotal = 0;
                    var gettotal2 = 0;
                    hargakwsnskr = hargakwsnskr1 * hasil1 * gandaankadar1
                    gettotal = kadar1 * hasil1 * gandaankadar1
                    gettotal2 = kadar1 * hasil1 * gandaankadar1 + hargakwsnskr
                    $("#hasil_" + splitdata[i]).val(hasil1);
                    $("#jumlah_" + splitdata[i]).val(gettotal2.toFixed(2));
                    $("#jumlahH_" + splitdata[i]).val(gettotal.toFixed(2));
                    $("#jumlahHS_" + splitdata[i]).val(gettotal2.toFixed(2));
                }
            }
            else {
                var kadar1 = $("#" + kadar).val();
                var gandaankadar1 = $("#" + gandaankadar).val();
                var gettotal2 = 0;
                hargakwsnskr = hargakwsnskr1 * hasil1 * gandaankadar1
                gettotal = kadar1 * hasil1 * gandaankadar1
                gettotal2 = kadar1 * hasil1 * gandaankadar1 + hargakwsnskr
                $("#" + jumlah).val(gettotal2.toFixed(2));
                $("#" + jumlahH).val(gettotal.toFixed(2));
                $("#" + jumlahHS).val(gettotal2.toFixed(2));
            }
            $('#SaveWrk').attr("disabled", false);
        }
        else {
            alertmsg('@GlobalResEstate.msgError', '@GlobalResEstate.lblMaxHasil' + ' ' + maxhasil);
            $('#SaveWrk').attr("disabled", true);
        }
        $("#UpdateProgress1").css("display", "none");
    }

    function checkvalidkwsnsukar(JnisAktvt) {
        var result1 = "3";
        var ajxfn = {};
        ajxfn.url = "@Url.Action("CheckValidKwsnSkr", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisAktvt: JnisAktvt });
        ajxfn.datatype = "json";
        ajxfn.async = false;
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            result1 = result;
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
        };
        $.ajax(ajxfn);

        return result1;
    }

    function bonuschange(bonus) {
        var bonus1 = $(bonus).val();
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var splitdata = datano.split(',');
        if ($("#allsame").is(":checked")) {
            for (var i = 0; i < loopdatahdr; i++) {
                $("#bonus_" + splitdata[i]).val(bonus1);
            }
        }
    }

    function kdhmnuaichange(kdhmnuai, kadar, kadartext) {
        $("#UpdateProgress1").css("display", "");
        var kdhmnuai1 = $(kdhmnuai).val();
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        var JnisPkt = $("#JnisPkt").val();
        var PilihanPkt = $("#PilihanPkt").val();
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var splitdata = datano.split(',');

        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetMenuaiRate", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ SelectDate: SelectDate, JnisPkt: JnisPkt, PilihanPkt: PilihanPkt, kdhmnuai: kdhmnuai1 });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            if ($("#allsame").is(":checked")) {
                for (var i = 0; i < loopdatahdr; i++) {
                    $("#kdhmnuai_" + splitdata[i]).val(kdhmnuai1);
                    $("#kadar_" + splitdata[i]).val(result.kadarharga);
                    $("#kadartext_" + splitdata[i]).text(result.kadarharga);
                }
            }
            else {
                $("#" + kadar).val(result.kadarharga);
                $("#" + kadartext).text(result.kadarharga);
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    }
    function otchange(ot) {
        var ot1 = $(ot).val();
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var splitdata = datano.split(',');
        if ($("#allsame").is(":checked")) {
            for (var i = 0; i < loopdatahdr; i++) {
                $("#ot_" + splitdata[i]).val(ot1);
            }
        }
    }

    function kualitichange(kualiti) {
        var kualiti1 = $(kualiti).val();
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var splitdata = datano.split(',');
        if ($("#allsame").is(":checked")) {
            for (var i = 0; i < loopdatahdr; i++) {
                $("#kualiti_" + splitdata[i]).val(kualiti1);
            }
        }
    }

    function incentivevalchange(incentiveval, incentiveslct) {
        var incentiveval1 = $(incentiveval).val();
        var incentiveslct1 = $(incentiveslct).val();
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var splitdata = datano.split(',');
        if ($("#allsame").is(":checked")) {
            for (var i = 0; i < loopdatahdr; i++) {
                if (incentiveslct1 != 'N/A') {
                    $("#incentiveval_" + splitdata[i]).val(incentiveval1);
                }
                else {
                    $("#incentiveval_" + splitdata[i]).val(0);
                }
            }
        }
    }

    function dailyincentivechange(incentive) {
        var incentive1 = $(incentive).val();
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var splitdata = datano.split(',');
        if ($("#allsame").is(":checked")) {
            for (var i = 0; i < loopdatahdr; i++) {
                $("#incentivedesc_" + splitdata[i]).val(incentive1);
            }
        }
    }

    $("#SaveWrk").click(function () {
        var datano = $("#datano").val();
        var loopdatahdr = $("#loopdatahdr").val();
        var checkvalidkwsnskr = "3";
        var hargaKesukaranLain = $("#hargaKesukaranLain").val();
        var hargakwsnskr = 0;
        var kodkwsnskr = "";
        
        switch (checkvalidkwsnskr) {
            case "1":
                hargakwsnskr = parseFloat(hargaKesukaranMembaja);
                kodkwsnskr = $("#CdKesukaranMembaja").val();
                break;
            case "2":
                hargakwsnskr = parseFloat(hargaKesukaranMenuai);
                kodkwsnskr = $("#CdKesukaranMenuai").val();
                break;
            case "3":
                hargakwsnskr = parseFloat(hargaKesukaranLain);
                kodkwsnskr = $("#CdKesukaranLain").val();
                break;
            default:
                hargakwsnskr = 0;
                kodkwsnskr = "-";
        }

        if (!jQuery.isEmptyObject(loopdatahdr)) {
            var splitdata = datano.split(',');
            var hasil = null;
            var kualiti = null;
            var bonus = null;
            var bonus2 = null;
            var ot = null;
            var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
            var SelectionData = $("#SelectionData").val();
            var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
            var Lejar = '602'
            var JnisPkt = $("#JnisPkt").val();
            var PilihanPkt = $("#PilihanPkt").val();
            var JnisAktvt = $("#JnisAktvt").val();
            var PilihanAktvt = $("#PilihanAktvt").val();
            var NNCC = $("#NNCC").val();
            var SelectionNNCC = $("#SelectionNNCC").val();
            var SAPPilihanAktvt = $("#SAPPilihanAktvt").val();
            var AppKwnsSkrLainID = $("#MngrID").val();
            var AppKwnsSkrLainDT = $("#DTApp").val();

            var datapost = {
                "SelectDate": SelectDate,
                "SelectionData": SelectionData,
                "SelectionCategory": SelectionCategory,
                "Lejar": Lejar,
                "JnisPkt": JnisPkt,
                "PilihanPkt": PilihanPkt,
                "JnisAktvt": JnisAktvt,
                "PilihanAktvt": PilihanAktvt,
                "NNCC": NNCC,
                "SelectionNNCC": SelectionNNCC,
                "SAPPilihanAktvt": SAPPilihanAktvt,
                "HrgaKwsnSkr": hargakwsnskr,
                "KdKwsnSkr": kodkwsnskr,
                "AppKwnsSkrLainID": AppKwnsSkrLainID,
                "AppKwnsSkrLainDT": AppKwnsSkrLainDT,
                "HadirData": []
            };

            for (var i = 0; i < loopdatahdr; i++) {
                var loopdataitems = {};
                nopkj = $("#nopkj_" + splitdata[i]).val();
                kadar = $("#kadar_" + splitdata[i]).val();
                gandaankadar = $("#gandaankadar_" + splitdata[i]).val();
                hasil = $("#hasil_" + splitdata[i]).val();
                jumlah = $("#jumlahH_" + splitdata[i]).val();
                jumlahOA = $("#jumlahHS_" + splitdata[i]).val();
                kualiti = $("#kualiti_" + splitdata[i]).val();
                bonus = 0;//$("#bonus_" + splitdata[i]).val();
                bonus2 = 0;//$("#bonus2_" + splitdata[i]).val();
                incentivecode = $("#incentivedesc_" + splitdata[i]).val();
                incentiveval = $("#incentiveval_" + splitdata[i]).val();
                ot = $("#ot_" + splitdata[i]).val();
                kdhmnuai = $("#kdhmnuai_" + splitdata[i]).val();
                checkpurpose = $("#checkpurpose_" + splitdata[i]).val();

                loopdataitems["nopkj"] = nopkj;
                loopdataitems["kadar"] = parseFloat(kadar).toFixed(2);
                loopdataitems["gandaankadar"] = gandaankadar;
                loopdataitems["hasil"] = parseFloat(hasil).toFixed(2);
                loopdataitems["jumlah"] = parseFloat(jumlah).toFixed(2);
                loopdataitems["jumlahOA"] = parseFloat(jumlahOA).toFixed(2);
                loopdataitems["kualiti"] = kualiti;
                loopdataitems["bonus"] = bonus;
                loopdataitems["bonus2"] = parseFloat(bonus2).toFixed(2);
                loopdataitems["incentivecode"] = incentivecode;
                loopdataitems["incentiveval"] = parseFloat(incentiveval).toFixed(2);
                loopdataitems["ot"] = parseFloat(ot).toFixed(2);
                loopdataitems["kdhmnuai"] = kdhmnuai;
                loopdataitems["checkpurpose"] = checkpurpose;
                datapost.HadirData.push(loopdataitems);
            }

            if (!jQuery.isEmptyObject(datapost)) {
                $("#UpdateProgress1").css("display", "");
                var ajxfn = {};
                ajxfn.url = "@Url.Action("Working", "CheckRollPUP")";
                ajxfn.type = "POST";
                ajxfn.data = JSON.stringify(datapost);
                ajxfn.datatype = "json";
                ajxfn.contentType = "application/json";
                ajxfn.success = function (result) {
                    $('#ListofDetail4').empty();
                    $('#ListofDetail4').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0"></table>');
                    var table = $('#ListofDetail4').children();
                    table.append(result.tablelisting);
                    $.simplyToast(result.msg, result.statusmsg);
                    if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                        alertmsg('Perhatian', result.msg)
                    }
                    ClearInput();
                    $("#UpdateProgress1").css("display", "none");
                };
                ajxfn.error = function () {
                    $.simplyToast('@GlobalResEstate.msgError', 'danger');
                    $("#UpdateProgress1").css("display", "none");
                };
                $.ajax(ajxfn);
            }
        }
        return false;
    });

    function dateselectedit(date) {
        $('#datetimepicker1').data("DateTimePicker").date(date);
        $("#atteditstatus").val(1);
        $('#SaveAtt').attr("disabled", false);
        return false;
    }

    $("#SaveNeg").click(function () {
        ClearInput();
        $("#UpdateProgress1").css("display", "");
        var SelectionData = $("#SelectionData").val();
        var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("_NeglectedDay", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify($("#Attendance").serializeObject());
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            if (result.AuthStatus) {
                onloadattandance(SelectionCategory, SelectionData);
                onloadattandance2(SelectionCategory, SelectionData, SelectDate);
                $('#SaveAtt').attr("disabled", result.proceedstatus);
                $("#atteditstatus").val(1);
                $('#tabkerja').removeClass('disableTab');
                $("#WorkData").attr('disabled', false);
                $("#allcheckbookdiv").css("display", "none");
                $("#SaveWrkbtndiv").css("display", "none");
                $('#ListofDetail3').empty();
                $('#ListofDetail4').empty();
                $('#ListofDetail4').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0"></table>');
                var table2 = $('#ListofDetail4').children();
                table2.append(result.tablelisting2);
                $.simplyToast(result.msg, result.statusmsg);
                if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                    alertmsg('Perhatian', result.msg)
                }
                if (result.statusmsg == 'success') {
                    $('#myModal').modal('hide');
                }
                $('#ManagerID').val('');
                $('#ManagerPassword').val('');
            }
            else {
                alertmsg('Perhatian', result.msg);
                $.simplyToast(result.msg, result.statusmsg);
            }
            $("#UpdateProgress1").css("display", "none");
        }
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
        //var height = $('#tblattinfo').height();
        //var $scrollingAttDiv = $("#ListofDetail");

        //$scrollingAttDiv
        //    .stop()
        //    .animate({ "height": (height + 25) + "px" }, "slow");
        //$("#UpdateProgress1").css("display", "none");
        return false;
    });

    $("#SaveOtherDifValue").click(function () {
        var ajxfn = {};
        ajxfn.url = "@Url.Action("_OtherDifficulty", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.async = false;
        ajxfn.data = JSON.stringify($("#Attendance").serializeObject());
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            if (result.AuthStatus) {
                $("#hargaKesukaranLain").val(result.OtherDifValue)
                $("#statusvalidkwsnskr").val(result.GetValidation)
                $("#MngrID").val(result.AppUsrID)
                $("#DTApp").val(ToJavaScriptDate(result.AppDT))
                $('#KesukaranLain').text('RM ' + result.OtherDifValue);
                $('#myModal2').modal('hide');
            }
            else {
                alertmsg('Perhatian', result.msg);
            }
            $('#ManagerID2').val('');
            $('#ManagerPassword2').val('');
            $.simplyToast(result.msg, result.statusmsg);
            $("#UpdateProgress1").css("display", "none");
        }
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
        return false;
    });

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
    }

    $("#SaveAtt").click(function () {
        var status = $('#Rainning').val();
        var atteditstatus = $('#atteditstatus').val();
        if (status == 1 && atteditstatus == 0) {
            $('#myModal').modal('show');
        }
        else {
            $("#UpdateProgress1").css("display", "");
            var SelectionData = $("#SelectionData").val();
            var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
            var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
            var ajxfn = {};
            ajxfn.url = "@Url.Action("Attendance", "CheckRollPUP")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify($("#Attendance").serializeObject());
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                onloadattandance(SelectionCategory, SelectionData);
                onloadattandance2(SelectionCategory, SelectionData, SelectDate);
                $('#SaveAtt').attr("disabled", result.proceedstatus);
                $("#atteditstatus").val(0);
                if (result.ZeroLeaveBal || result.AlertPopup) {
                    alertmsg(result.statusmsg2, result.msg2);
                }
                else {
                    $('#tabkerja').removeClass('disableTab');
                    $("#WorkData").attr('disabled', false);
                    $("#allcheckbookdiv").css("display", "block");
                    $("#SaveWrkbtndiv").css("display", "block");
                    $.simplyToast(result.msg, result.statusmsg);
                }
                $('#ListofDetail4').empty();
                $('#ListofDetail4').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0"></table>');
                var table2 = $('#ListofDetail4').children();
                table2.append(result.tablelisting2);
                if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                    alertmsg('Perhatian', result.msg)
                }
                ClearInput();
                $("#UpdateProgress1").css("display", "none");
            }
            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            //var height = $('#tblattinfo').height();
            //var $scrollingAttDiv = $("#ListofDetail");

            //$scrollingAttDiv
            //    .stop()
            //    .animate({ "height": (height + 25) + "px" }, "slow");
        }
        return false;
    });

    function alertmsg(title, content) {
        $.confirm({
            title: title,
            content: content,
            buttons: {
                confirm: {
                    text: 'OK',
                    btnClass: 'btn-green',
                    keys: ['enter', 'shift']
                }
            }
        });
    }

    function DeleteAttInfo(Data) {
        var SelectionData = $("#SelectionData").val();
        var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        $.confirm({
            title: '@GlobalResEstate.titleDelete',
            content: '@GlobalResEstate.msgDelete',
            buttons: {
                confirm: {
                    text: '@GlobalResEstate.btnYes',
                    btnClass: 'btn-green',
                    keys: ['enter', 'shift'],
                    action: function () {
                        $("#workdata").css("display", "none");
                        $("#allcheckbookdiv").css("display", "none");
                        $("#SaveWrkbtndiv").css("display", "none");
                        if (SelectDate != null && SelectionData != '0' && SelectionCategory != '') {
                            $("#UpdateProgress1").css("display", "");
                            var ajxfn = {};
                            ajxfn.url = "@Url.Action("DeleteAttInfo", "CheckRollPUP")";
                            ajxfn.type = "POST";
                            ajxfn.data = JSON.stringify({ Data: Data, SelectionCategory: SelectionCategory, SelectionData: SelectionData, SelectDate: SelectDate });
                            ajxfn.datatype = "json";
                            ajxfn.contentType = "application/json";
                            ajxfn.success = function (result) {
                                if (result.kodhdr != '') {
                                    $('#WorkCode').val(result.kodhdr);
                                }
                                if (result.kodhjn != '') {
                                    $('#Rainning').val(result.kodhjn);
                                }
                                $('#name0').empty();
                                $('#name0').text('- ' + result.namelabel);
                                $('#name1').empty();
                                $('#name1').text('- ' + result.namelabel);
                                $('#name3').empty();
                                $('#name3').text('- ' + result.namelabel);
                                $('#name3').empty();
                                $('#name3').text('- ' + result.namelabel);
                                $('#name4').empty();
                                $('#name4').text('- ' + result.namelabel);
                                $('#name5').empty();
                                $('#name5').text('- ' + result.namelabel);
                                $("#day").empty();
                                $("#day1").empty();
                                $("#day").text(result.dayname)
                                $("#day1").text("- " + result.dayname)
                                $('#ListofDetail').empty();
                                $('#ListofDetail3').empty();
                                $('#ListofDetail4').empty();
                                $('#ListofDetail').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="tblattinfo"></table>');
                                var table = $('#ListofDetail').children();
                                table.append(result.tablelisting);
                                $('#ListofDetail4').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0"></table>');
                                var table2 = $('#ListofDetail4').children();
                                table2.append(result.tablelisting2);
                                onloadattandance(SelectionCategory, SelectionData);
                                if (result.proceedstatus) {
                                    $('#atteditstatus').val(1);
                                }
                                else {
                                    $('#atteditstatus').val(0);
                                }
                                if (result.checkxhadir) {
                                    $('#tabhadir').addClass('active');
                                    $('#tab1primary').addClass('tab-pane fade in active');
                                    $('#tabkerja').addClass('disableTab').removeClass('active');
                                    $("#WorkData").attr('disabled', true);
                                    $("#allcheckbookdiv").css("display", "none");
                                    $("#SaveWrkbtndiv").css("display", "none");
                                    $('#tab2primary').removeClass('tab-pane fade in active').addClass('tab-pane fade');
                                    alertmsg('Peringatan', 'Sila pastikan maklumat kehadiran disimpan sebelum mengisi maklumat kerja.')
                                }
                                else {
                                    $('#tabkerja').removeClass('disableTab');
                                    $("#WorkData").attr('disabled', false);
                                    $("#allcheckbookdiv").css("display", "block");
                                    $("#SaveWrkbtndiv").css("display", "block");
                                }
                                $('#SaveAtt').attr("disabled", false);
                                $.simplyToast(result.msg, result.statusmsg);
                                $("#UpdateProgress1").css("display", "none");
                                if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                                    alertmsg('Perhatian', result.msg)
                                }
                            };
                            ajxfn.error = function () {
                                $.simplyToast('Maaf system tergendala', 'danger');
                                $("#UpdateProgress1").css("display", "none");
                            };
                            $.ajax(ajxfn);
                        }
                        else {
                        }
                    }
                },
                cancel: {
                    text: '@GlobalResEstate.btnNo',
                    btnClass: 'btn-red',
                    keys: ['enter', 'shift'],
                    action: function () {

                    }
                }
            }
        });
        return false;
    }

    function DeleteWorkInfo(pkt, kodatvt) {
        var SelectionData = $("#SelectionData").val();
        var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        $.confirm({
            title: '@GlobalResEstate.titleDelete',
            content: '@GlobalResEstate.msgDelete',
            buttons: {
                confirm: {
                    text: '@GlobalResEstate.btnYes',
                    btnClass: 'btn-green',
                    keys: ['enter', 'shift'],
                    action: function () {
                        $("#UpdateProgress1").css("display", "");
                        var ajxfn = {};
                        ajxfn.url = "@Url.Action("DeleteWorkInfo", "CheckRollPUP")";
                        ajxfn.type = "POST";
                        ajxfn.data = JSON.stringify({ SelectDate: SelectDate, SelectionData: SelectionData, SelectionCategory: SelectionCategory, pkt: pkt, kodatvt: kodatvt });
                        ajxfn.datatype = "json";
                        ajxfn.contentType = "application/json";
                        ajxfn.success = function (result) {
                            $('#ListofDetail4').empty();
                            $('#ListofDetail4').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0"></table>');
                            var table = $('#ListofDetail4').children();
                            table.append(result.tablelisting);
                            $.simplyToast(result.msg, result.statusmsg);
                            $("#UpdateProgress1").css("display", "none");
                            if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                                alertmsg('Perhatian', result.msg)
                            }
                        };
                        ajxfn.error = function () {
                            $.simplyToast('Maaf system tergendala', 'danger');
                            $("#UpdateProgress1").css("display", "none");
                        };
                        $.ajax(ajxfn);
                    }
                },
                cancel: {
                    text: '@GlobalResEstate.btnNo',
                    btnClass: 'btn-red',
                    keys: ['enter', 'shift'],
                    action: function () {

                    }
                }
            }
        });
        return false;
    }
    $('input:radio[name="SelectionCategory"]').change(function () {
        ClearInput();
        //var height = $(window).height();
        //var $scrollingAttDiv = $("#ListofDetail");

        //$scrollingAttDiv
        //    .stop()
        //    .animate({ "height": (0) + "px" }, "slow");

        $("#atteditstatus").val(0);
        $('#SaveAtt').attr("disabled", true);
        $("#UpdateProgress1").css("display", "");
        $('#datetimepicker1').data("DateTimePicker").date(null);
        $('#tabhadir').addClass('active');
        $('#tab1primary').addClass('tab-pane fade in active');
        $('#tabkerja').addClass('disableTab').removeClass('active');
        $("#WorkData").attr('disabled', true);
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#tab2primary').removeClass('tab-pane fade in active').addClass('tab-pane fade');
        $("#workdata").css("display", "none");
        var SelectionCategory = $(this).val();
        $("#catsel").empty();
        if (SelectionCategory == 1) {
            $("#catsel").text('@GlobalResEstate.lblGroup');
            $('#allsame').attr("disabled", false);
        }
        else {
            $("#catsel").text('@GlobalResEstate.lblWorker');
            $('#allsame').attr("disabled", true);
        }
        var ajxfn = {};
        ajxfn.url = "@Url.Action("WorkerData", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ SelectionCategory: SelectionCategory });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#name0').empty();
            $('#name1').empty();
            $('#name2').empty();
            $('#ListofDetail').empty();
            $('#ListofDetail2').empty();
            $('#ListofDetail3').empty();
            $("#SelectionData").empty();
            for (var i = 0; i < result.length; i++) {
                $("#SelectionData").append("<option value=" + result[i].Value + ">" + result[i].Text + "</option>");
            }
            $('#tabkerja').addClass('disableTab');
            $("#WorkData").attr('disabled', true);
            $("#allcheckbookdiv").css("display", "none");
            $("#SaveWrkbtndiv").css("display", "none");
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    $('#datetimepicker1').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });

    $("#SelectionData").change(function () {
        ClearInput();
        $("#atteditstatus").val(0);
        $('#SaveAtt').attr("disabled", true);
        $('#datetimepicker1').data("DateTimePicker").date(null);
        $('#tabhadir').addClass('active');
        $('#tab1primary').addClass('tab-pane fade in active');
        $('#tabkerja').addClass('disableTab').removeClass('active');
        $("#WorkData").attr('disabled', true);
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#tab2primary').removeClass('tab-pane fade in active').addClass('tab-pane fade');
        var SelectionData = $("#SelectionData").val();
        var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
        $("#workdata").css("display", "none");
        if (SelectionData != '0') {
            $("#UpdateProgress1").css("display", "");
            var ajxfn = {};
            ajxfn.url = "@Url.Action("WorkerAvlbleChecking", "CheckRollPUP")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ SelectionCategory: SelectionCategory, SelectionData: SelectionData });
            ajxfn.datatype = "json";
            ajxfn.async = false;
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $('#name0').empty();
                $('#name0').text('- ' + result.namelabel);
                $('#name1').empty();
                $('#name1').text('- ' + result.namelabel);
                $('#name2').empty();
                $('#name2').text('- ' + result.namelabel);
                $('#ListofDetail').empty();
                $('#ListofDetail3').empty();
                $('#ListofDetail').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="tblattinfo"></table>');
                var table = $('#ListofDetail').children();
                table.append(result.tablelisting);
                $.simplyToast(result.msg, result.statusmsg);
                if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                    alertmsg('Perhatian', result.msg)
                }
                $('#dateseleted').attr("disabled", result.datedisable);
                onloadattandance(SelectionCategory, SelectionData);
                $("#UpdateProgress1").css("display", "none");
                var height = document.getElementById('well').offsetHeight;
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            //var height = $('#tblattinfo').height();
            //heightglobal = height;
            //var $scrollingAttDiv = $("#ListofDetail");

            //$scrollingAttDiv
            //    .stop()
            //    .animate({ "height": (height + 25) + "px" }, "slow");
        }
    });

    $("#datetimepicker1").on("dp.change", function (e) {
        ClearInput();
        $("#PilihanAktvt").val("0");
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        var SelectionData = $("#SelectionData").val();
        var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
        $("#workdata").css("display", "none");
        if (SelectDate != null && SelectionData != '0' && SelectionCategory != '') {
            $("#UpdateProgress1").css("display", "");
            var ajxfn = {};
            ajxfn.url = "@Url.Action("WorkerDateChecking", "CheckRollPUP")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ SelectionCategory: SelectionCategory, SelectionData: SelectionData, SelectDate: SelectDate });
            ajxfn.datatype = "json";
            ajxfn.async = false;
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $('#WorkCode').val(result.AttCodeType);
                if (result.kodhdr != '') {
                    $('#WorkCode').val(result.kodhdr);
                }
                if (result.kodhjn != '') {
                    $('#Rainning').val(result.kodhjn);
                }
                $('#name0').empty();
                $('#name0').text('- ' + result.namelabel);
                $('#name1').empty();
                $('#name1').text('- ' + result.namelabel);
                $('#name3').empty();
                $('#name3').text('- ' + result.namelabel);
                $('#name3').empty();
                $('#name3').text('- ' + result.namelabel);
                $('#name4').empty();
                $('#name4').text('- ' + result.namelabel);
                $('#name5').empty();
                $('#name5').text('- ' + result.namelabel);
                $("#day").empty();
                $("#day1").empty();
                $("#day").text(result.dayname)
                $("#day1").text("- " + result.dayname)
                $('#ListofDetail').empty();
                $('#ListofDetail3').empty();
                $('#ListofDetail4').empty();
                $('#ListofDetail').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="tblattinfo"></table>');
                var table = $('#ListofDetail').children();
                table.append(result.tablelisting);
                $('#ListofDetail4').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0"></table>');
                var table2 = $('#ListofDetail4').children();
                table2.append(result.tablelisting2);

                if (result.proceedstatus) {
                    $('#atteditstatus').val(1);
                }
                else {
                    $('#atteditstatus').val(0);
                }
                if (result.checkxhadir) {
                    $('#tabhadir').addClass('active');
                    $('#tab1primary').addClass('tab-pane fade in active');
                    $('#tabkerja').addClass('disableTab').removeClass('active');
                    $("#WorkData").attr('disabled', true);
                    $("#allcheckbookdiv").css("display", "none");
                    $("#SaveWrkbtndiv").css("display", "none");
                    $('#tab2primary').removeClass('tab-pane fade in active').addClass('tab-pane fade');
                    alertmsg('Peringatan', 'Sila pastikan maklumat kehadiran disimpan sebelum mengisi maklumat kerja.')
                }
                else {
                    $('#tabkerja').removeClass('disableTab');
                    $("#WorkData").attr('disabled', false);
                    $("#allcheckbookdiv").css("display", "");
                    $("#SaveWrkbtndiv").css("display", "");
                }
                if (result.CutOfDateStatus) {
                    $('#Rainning').attr("disabled", true);
                    $('#WorkCode').attr("disabled", true);
                    $('#SaveAtt').attr("disabled", true);

                    $('#Lejar').attr("disabled", true);
                    $('#JnisPkt').attr("disabled", true);
                    $('#PilihanPkt').attr("disabled", true);
                    $('#JnisAktvt').attr("disabled", true);
                    $('#PilihanAktvt').attr("disabled", true);
                }
                else {
                    $('#Rainning').attr("disabled", false);
                    $('#WorkCode').attr("disabled", false);
                    $('#SaveAtt').attr("disabled", false);

                    $('#Lejar').attr("disabled", false);
                    $('#JnisPkt').attr("disabled", false);
                    $('#PilihanPkt').attr("disabled", false);
                    $('#JnisAktvt').attr("disabled", false);
                    $('#PilihanAktvt').attr("disabled", false);
                }
                $.simplyToast(result.msg, result.statusmsg);
                if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                    alertmsg('Perhatian', result.msg)
                }
                $("#UpdateProgress1").css("display", "none");
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            //var height = $('#tblattinfo').height();
            //if (height < 0) {
            //    height = heightglobal;
            //}
            //else {
            //    heightglobal = height;
            //}
            //var $scrollingAttDiv = $("#ListofDetail");

            //$scrollingAttDiv
            //    .stop()
            //    .animate({ "height": (height + 25) + "px" }, "slow");
        }
        else {
        }
    });

    function onloadattandance(SelectionCategory, SelectionData) {
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAttandanceDetails", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.async = false;
        ajxfn.data = JSON.stringify({ SelectionCategory: SelectionCategory, SelectionData: SelectionData });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail2').empty();
            $('#ListofDetail3').empty();
            $('#ListofDetail2').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="tblattinfodate"></table>');
            var table = $('#ListofDetail2').children();
            table.append(result.tablelisting2);
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    }

    function onloadattandance2(SelectionCategory, SelectionData, SelectDate) {
        var ajxfn = {};
        ajxfn.url = "@Url.Action("WorkerDateChecking", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.async = false;
        ajxfn.data = JSON.stringify({ SelectionCategory: SelectionCategory, SelectionData: SelectionData, SelectDate: SelectDate });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail').empty();
            $('#ListofDetail').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="tblattinfo"></table>');
            var table = $('#ListofDetail').children();
            table.append(result.tablelisting);
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    }

    $("#WorkCode").change(function () {
        ClearInput();
        $("#UpdateProgress1").css("display", "");
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetWorkCodeStatus", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ WorkCode: $("#WorkCode").val() });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            if (result.workstatus == "xhadirkerja") {
                $('#Rainning').attr("disabled", true);
            }
            else {
                $('#Rainning').attr("disabled", false);
            }

            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    function ClearDropDown() {
        $('#NNCC').empty();
        $("#LblNNCC").empty();
        $('#SAPPilihanAktvt').empty();
        $('#PilihanAktvt').empty();

        $("#NNCC").append("<option value=0>Please Select</option>");
        $("#SAPPilihanAktvt").append("<option value=0>Please Select</option>");
        $("#PilihanAktvt").append("<option value=0>Please Select</option>");
        $("#LblNNCC").text('Network No/Cost Center');
    }

    function ClearDropDown2() {
        $('#NNCCHT').empty();
        $("#LblNNCCHT").empty();
        $('#SAPPilihanAktvtHT').empty();
        $('#PilihanAktvtHT').empty();
        $('#sapglneg').empty();

        $("#NNCCHT").append("<option value=0>Please Select</option>");
        $("#SAPPilihanAktvtHT").append("<option value=0>Please Select</option>");
        $("#PilihanAktvtHT").append("<option value=0>Please Select</option>");
        $("#LblNNCCHT").text('Network No/Cost Center');
    }

    $("#JnisPkt").change(function () {
        ClearInput();
        ClearDropDown();
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetPkt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvt").val(), JnsPkt: $("#JnisPkt").val() });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $('#PilihanPkt').empty();
            for (var i = 0; i < result.PilihPeringkat.length; i++) {
                $("#PilihanPkt").append("<option value=" + result.PilihPeringkat[i].Value + ">" + result.PilihPeringkat[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    }
    );
    
    $("#JnisPktHT").change(function () {
        ClearInput();
        ClearDropDown2();
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetPkt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvtHT").val(), JnsPkt: $("#JnisPktHT").val() });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#PilihanPktHT').empty();
            for (var i = 0; i < result.PilihPeringkat.length; i++) {
                $("#PilihanPktHT").append("<option value=" + result.PilihPeringkat[i].Value + ">" + result.PilihPeringkat[i].Text + "</option>");
            }
            $('#sapglneg').text('');
            $('#PilihanAktvtHT').val(0);
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    }
    );

    function GetActivty() {
        var AktivitiToolTip = "";
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAktvt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvt").val() });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#PilihanAktvt').empty();
            for (var i = 0; i < result.PilihAktiviti.length; i++) {
                if (i > 0) {
                    AktivitiToolTip = result.AktivitiToolTip[i - 1].Label;
                }
                $("#PilihanAktvt").append("<option title='" + AktivitiToolTip + "' value=" + result.PilihAktiviti[i].Value + ">" + result.PilihAktiviti[i].Text + "</option>");
            }
        };
        ajxfn.error = function () {
        };
        $.ajax(ajxfn);
    }

    function GetActivty2() {
        var AktivitiToolTip = "";
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAktvt2", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify();
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#PilihanAktvtHT').empty();
            for (var i = 0; i < result.PilihanAktvtHT.length; i++) {
                if (i > 0) {
                    AktivitiToolTip = result.AktivitiToolTip[i - 1].Label;
                }
                $("#PilihanAktvtHT").append("<option title='" + AktivitiToolTip + "' value=" + result.PilihanAktvtHT[i].Value + ">" + result.PilihanAktvtHT[i].Text + "</option>");
            }
        };
        ajxfn.error = function () {
        };
        $.ajax(ajxfn);
    }

    $("#JnisAktvt").change(function () {
        var AktivitiToolTip = "";
        ClearInput();
        ClearDropDown();
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#ListofDetail3').empty();
        $('#SAPPilihanAktvt').attr("disabled", false);
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetPkt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvt").val(), JnsPkt: $("#JnisPkt").val() });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $('#PilihanPkt').empty();
            for (var i = 0; i < result.PilihPeringkat.length; i++) {
                $("#PilihanPkt").append("<option value=" + result.PilihPeringkat[i].Value + ">" + result.PilihPeringkat[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });
    
    $("#JnisAktvtHT").change(function () {
        ClearDropDown2();
        var AktivitiToolTip = "";
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#ListofDetail3').empty();
        $('#SAPPilihanAktvtHT').attr("disabled", false);
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetPkt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvtHT").val(), JnsPkt: $("#JnisPktHT").val() });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $('#PilihanPktHT').empty();
            for (var i = 0; i < result.PilihPeringkat.length; i++) {
                $("#PilihanPktHT").append("<option value=" + result.PilihPeringkat[i].Value + ">" + result.PilihPeringkat[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });
    
    $("#NNCC").change(function () {
        var AktivitiToolTip = "";
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#ListofDetail3').empty();
        var SelectionNNCC = $('#SelectionNNCC').val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAktvt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ NNCCSelection: $("#NNCC").val(), JnisAktvt: $("#JnisAktvt").val(), SelectionNNCC: SelectionNNCC, SAPPilihanAktvt: '0000', Purpose: 1, HTPurpose: 0 });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $('#SAPPilihanAktvt').empty();
            $("#PilihanAktvt").empty();
            for (var i = 0; i < result.KodActvt.length; i++) {
                if (SelectionNNCC === '1') {
                    $("#SAPPilihanAktvt").append("<option title='" + result.KodActvt[i].Value + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
                else {
                    if (i > 0) {
                        AktivitiToolTip = result.AktivitiToolTip[i - 1].Label;
                    }
                    $("#PilihanAktvt").append("<option title='" + AktivitiToolTip + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
            }
            if (SelectionNNCC === '1') {
                for (var i = 0; i < result.KodActvtNoItm.length; i++) {
                    $("#PilihanAktvt").append("<option title='" + result.KodActvtNoItm[i].Value + "' value=" + result.KodActvtNoItm[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
            }
            else {
                for (var i = 0; i < result.KodActvtNoItm.length; i++) {
                    $("#SAPPilihanAktvt").append("<option title='" + result.KodActvtNoItm[i].Value + "' value=" + result.KodActvtNoItm[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    $("#NNCCHT").change(function () {
        var AktivitiToolTip = "";
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#ListofDetail3').empty();
        var SelectionNNCC = $('#SelectionNNCCHT').val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAktvt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ NNCCSelection: $("#NNCCHT").val(), JnisAktvt: $("#JnisAktvtHT").val(), SelectionNNCC: SelectionNNCC, SAPPilihanAktvt: '0000', Purpose: 1, HTPurpose: 1 });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $('#SAPPilihanAktvtHT').empty();
            $("#PilihanAktvtHT").empty();
            for (var i = 0; i < result.KodActvt.length; i++) {
                if (SelectionNNCC === '1') {
                    $("#SAPPilihanAktvtHT").append("<option title='" + result.KodActvt[i].Value + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
                else {
                    if (i > 0) {
                        AktivitiToolTip = result.AktivitiToolTip[i - 1].Label;
                    }
                    $("#PilihanAktvtHT").append("<option title='" + AktivitiToolTip + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
            }
            if (SelectionNNCC === '1') {
                for (var i = 0; i < result.KodActvtNoItm.length; i++) {
                    $("#PilihanAktvtHT").append("<option title='" + result.KodActvtNoItm[i].Value + "' value=" + result.KodActvtNoItm[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
            }
            else {
                for (var i = 0; i < result.KodActvtNoItm.length; i++) {
                    $("#SAPPilihanAktvtHT").append("<option title='" + result.KodActvtNoItm[i].Value + "' value=" + result.KodActvtNoItm[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });
    
    $("#SAPPilihanAktvt").change(function () {
         var AktivitiToolTip = "";
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#ListofDetail3').empty();
        var SelectionNNCC = $('#SelectionNNCC').val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAktvt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ NNCCSelection: $("#NNCC").val(), JnisAktvt: $("#JnisAktvt").val(), SelectionNNCC: SelectionNNCC, SAPPilihanAktvt: $('#SAPPilihanAktvt').val(), Purpose: 2, HTPurpose: 0  });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $("#PilihanAktvt").empty();
            for (var i = 0; i < result.KodActvt.length; i++) {
                if (i > 0) {
                    AktivitiToolTip = result.AktivitiToolTip[i - 1].Label;
                }
                $("#PilihanAktvt").append("<option title='" + AktivitiToolTip + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    $("#SAPPilihanAktvtHT").change(function () {
         var AktivitiToolTip = "";
        $("#UpdateProgress1").css("display", "");
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $('#ListofDetail3').empty();
        var SelectionNNCC = $('#SelectionNNCC').val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetAktvt", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ NNCCSelection: $("#NNCCHT").val(), JnisAktvt: $("#JnisAktvtHT").val(), SelectionNNCC: SelectionNNCC, SAPPilihanAktvt: $('#SAPPilihanAktvtHT').val(), Purpose: 2, HTPurpose: 1  });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#ListofDetail3').empty();
            $("#PilihanAktvtHT").empty();
            for (var i = 0; i < result.KodActvt.length; i++) {
                if (i > 0) {
                    AktivitiToolTip = result.AktivitiToolTip[i - 1].Label;
                }
                $("#PilihanAktvtHT").append("<option title='" + AktivitiToolTip + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    $("#PilihanPkt").change(function () {
        ClearDropDown();
        if ($("#PilihanPkt").val() != "0") {
            var AktivitiToolTip = "";
            var AktivitiToolTip2 = "";
            ClearInput();
            $("#UpdateProgress1").css("display", "");
            $("#workdata").css("display", "none");
            $("#allcheckbookdiv").css("display", "none");
            $("#SaveWrkbtndiv").css("display", "none");
            $('#ListofDetail3').empty();
            $('#SAPPilihanAktvt').attr("disabled", false);
            var ajxfn = {};
            ajxfn.url = "@Url.Action("GetNNCC", "CheckRollPUP")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvt").val(), JnsPkt: $("#JnisPkt").val(), PilihanPkt: $("#PilihanPkt").val() });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $('#ListofDetail3').empty();
                $('#NNCC').empty();
                $("#LblNNCC").empty();
                $('#SAPPilihanAktvt').empty();
                $('#PilihanAktvt').empty();
                for (var i = 0; i < result.NNCC.length; i++) {
                    $("#NNCC").append("<option title='" + AktivitiToolTip + "' value=" + result.NNCC[i].Value + ">" + result.NNCC[i].Text + "</option>");
                }
                for (var i = 0; i < result.KodActvt.length; i++) {
                    AktivitiToolTip = result.KodActvt[i].Value;
                    $("#SAPPilihanAktvt").append("<option title='" + AktivitiToolTip + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                    if (i > 0) {
                        AktivitiToolTip2 = result.AktivitiToolTip[i - 1].Label;
                    }
                    $("#PilihanAktvt").append("<option title='" + AktivitiToolTip2 + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
                if (result.SAPKod === '1') {
                    $("#LblNNCC").text('Network No');
                    $('#SAPPilihanAktvt').attr("disabled", false);
                }
                else if (result.SAPKod === '2') {
                    $("#LblNNCC").text('Cost Center');
                    $('#SAPPilihanAktvt').attr("disabled", true);
                }
                else {
                    $("#LblNNCC").text('Network No/Cost Center');
                }
                $('#SelectionNNCC').val(result.SAPKod);
                $("#UpdateProgress1").css("display", "none");
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);
        }
    });

    $("#PilihanPktHT").change(function () {
        ClearDropDown2();
        if ($("#PilihanPktHT").val() != "0") {
            $('#PilihanAktvtHT').val(0);
            var AktivitiToolTip = "";
            var AktivitiToolTip2 = "";
            ClearInput();
            $("#UpdateProgress1").css("display", "");
            $("#workdata").css("display", "none");
            $("#allcheckbookdiv").css("display", "none");
            $("#SaveWrkbtndiv").css("display", "none");
            $('#ListofDetail3').empty();
            $('#SAPPilihanAktvt').attr("disabled", false);
            var ajxfn = {};
            ajxfn.url = "@Url.Action("GetNNCC", "CheckRollPUP")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ JnisAktvt: $("#JnisAktvtHT").val(), JnsPkt: $("#JnisPktHT").val(), PilihanPkt: $("#PilihanPktHT").val() });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $('#ListofDetail3').empty();
                $('#NNCCHT').empty();
                $("#LblNNCCHT").empty();
                $('#SAPPilihanAktvtHT').empty();
                $('#PilihanAktvtHT').empty();
                for (var i = 0; i < result.NNCC.length; i++) {
                    AktivitiToolTip = result.NNCC[i].Value;
                    $("#NNCCHT").append("<option title='" + AktivitiToolTip + "' value=" + result.NNCC[i].Value + ">" + result.NNCC[i].Text + "</option>");
                }
                for (var i = 0; i < result.KodActvt.length; i++) {
                    AktivitiToolTip = result.KodActvt[i].Value;
                    $("#SAPPilihanAktvtHT").append("<option title='" + AktivitiToolTip + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                    if (i > 0) {
                        AktivitiToolTip2 = result.AktivitiToolTip[i - 1].Label;
                    }
                    $("#PilihanAktvtHT").append("<option title='" + AktivitiToolTip2 + "' value=" + result.KodActvt[i].Value + ">" + result.KodActvt[i].Text + "</option>");
                }
                if (result.SAPKod === '1') {
                    $("#LblNNCCHT").text('Network No');
                    $('#SAPPilihanAktvtHT').attr("disabled", false);
                }
                else if (result.SAPKod === '2') {
                    $("#LblNNCCHT").text('Cost Center');
                    $('#SAPPilihanAktvtHT').attr("disabled", true);
                }
                else {
                    $("#LblNNCCHT").text('Network No/Cost Center');
                }
                $('#SelectionNNCCHT').val(result.SAPKod);
                $("#UpdateProgress1").css("display", "none");
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);
        }
    });

    $("#Lejar").change(function () {
        ClearInput();
        var Lejar = $("#Lejar").val();
        $("#workdata").css("display", "none");
        $("#allcheckbookdiv").css("display", "none");
        $("#SaveWrkbtndiv").css("display", "none");
        $("#PilihanAktvt").val("0");
        $('#ListofDetail3').empty();
        $("#UpdateProgress1").css("display", "");
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetActvtType", "CheckRollPUP")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ Lejar: Lejar });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#JnisAktvt').empty();
            for (var i = 0; i < result.JnisAktvt.length; i++) {
                $("#JnisAktvt").append("<option value=" + result.JnisAktvt[i].Value + ">" + result.JnisAktvt[i].Text + "</option>");
            }
            $('#PilihanAktvt').empty();
            for (var i = 0; i < result.PilihanAktvt.length; i++) {
                $("#PilihanAktvt").append("<option value=" + result.PilihanAktvt[i].Value + ">" + result.PilihanAktvt[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };

        $.ajax(ajxfn);
    });

    $("#PilihanAktvt").change(function () {
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        var SelectionData = $("#SelectionData").val();
        var SelectionCategory = $('input[name="SelectionCategory"]:checked').val();
        var JnisAktvt = $("#JnisAktvt").val();
        var KodAktvt = $("#PilihanAktvt").val();
        var JnisPkt = $("#JnisPkt").val();
        var PilihanPkt = $("#PilihanPkt").val();
        if (KodAktvt != "0") {
            $("#UpdateProgress1").css("display", "");
            var ajxfn = {};
            ajxfn.url = "@Url.Action("GetForm", "CheckRollPUP")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ SelectionCategory: SelectionCategory, SelectionData: SelectionData, JnisPkt: JnisPkt, PilihanPkt: PilihanPkt, JnisAktvt: JnisAktvt, KodAktvt: KodAktvt, SelectDate: SelectDate });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $('#ListofDetail3').empty();
                $("#UpdateProgress1").css("display", "none");
                if (!result.closeform) {

                    $("#workdata").css("display", "block");
                    $("#allcheckbookdiv").css("display", "block");
                    $("#SaveWrkbtndiv").css("display", "block");
                    $('#ListofDetail3').append('<table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="workformtable"></table>');
                    var table = $('#ListofDetail3').children();
                    table.append(result.tablelisting);
                    $('#sapgl').text('SAP GL Code : ' + result.GLCode + ' - Activity Desc : ' + result.NameAktiviti);
                }
                else {
                    $("#workdata").css("display", "none");
                    $("#allcheckbookdiv").css("display", "none");
                    $("#SaveWrkbtndiv").css("display", "none");
                    $('#sapgl').text('SAP GL Code : -');
                }
                $.simplyToast(result.msg, result.statusmsg);
                if (result.statusmsg == 'warning' || result.statusmsg == 'danger') {
                    alertmsg('Attention', result.msg)
                }
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
                $("#workdata").css("display", "block");
                $("#allcheckbookdiv").css("display", "block");
                $("#SaveWrkbtndiv").css("display", "block");
            };

            $.ajax(ajxfn);
        }
    });

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $('#descactvty').click(function (e) {
        var Populink = "@Url.Action("ActivityCodeDetails", "CheckRollPUP", null, "http")";
        var TypeAct = $("#JnisAktvt").val();
        Populink = Populink + "/?ActivityType=" + TypeAct;
        window.open(Populink, null, "height=600,width=800,status=yes,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=no");
        e.stopPropagation();
        e.preventDefault();
    });
</script>

<script>
    $(document).ready(function () {
        $(document).on('mouseover', '.fullrow', function (e) {
            var id = this.getAttribute("data-id");
            $(".row_" + id).addClass('hovering');
        })

        $(document).on('mouseout', '.fullrow', function (e) {
            var id = this.getAttribute("data-id");
            $(".row_" + id).removeClass('hovering');
        })
        
    });
</script>