@using MVC_SYSTEM.Class
@{
    GetConfig getconfig = new GetConfig();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - @getconfig.GetData("sysname")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Modernizrjquery")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/MyCustomeJs")
    @if (ViewBag.DateScriptAdv == 1)
    {
        @Styles.Render("~/Content/DateTimePickerCSS2")
        @Scripts.Render("~/bundles/DateTimePickerJS2")
    }
    else
    {
        @Scripts.Render("~/bundles/DateTimePickerJS")
        @Styles.Render("~/Content/DateTimePickerCSS")
    }

    @Scripts.Render("~/bundles/CheckingJS")

    <link href="~/Asset/Flag/css/flag-icon.css" rel="stylesheet" />
    <link href="~/Asset/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Asset/Scripts/pdfobject.js"></script>

</head>
<body onload="StartTimers('@Url.Action("Logout", "Login", null, "http")',@getconfig.GetData("timeoutwarningtime"),@getconfig.GetData("timeouttime"));" onmousemove="ResetTimers('@Url.Action("Logout", "Login", null, "http")',@getconfig.GetData("timeoutwarningtime"),@getconfig.GetData("timeouttime"));" onkeypress="ResetTimers('@Url.Action("Logout", "Login", null, "http")',@getconfig.GetData("timeoutwarningtime"),@getconfig.GetData("timeouttime"));">
    @Html.Partial("_PartialHeaderReminder")
    @*@Html.Partial("_PartialLeftNav")*@
    <div class="maincontent animated fadeInRight">
        @RenderBody()
    </div>
    @Html.Partial("_PartialFooter")
</body>
@RenderSection("scripts", required: false)
</html>
