@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@model IEnumerable<MVC_SYSTEM.MasterModels.tbl_Ladang>

@{
    ViewBag.Title = "BankAccReport";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig GetConfig = new GetConfig();
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    DateTime Todaydate = ChangeTimeZone.gettimezone();
    string uniquefilename = "AccountReport_" + ViewBag.UserID + "_" + Todaydate.Year.ToString() + Todaydate.Month.ToString() + Todaydate.Day.ToString() + Todaydate.Hour.ToString() + Todaydate.Minute.ToString() + Todaydate.Second.ToString();

    //AjaxOptions options = new AjaxOptions
    //{
    //    HttpMethod = "Get",
    //    UpdateTargetId = "searchAccBankRptInfo",
    //    InsertionMode = InsertionMode.Replace,
    //    LoadingElementId = "divLoading"
    //};
}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea" class="modal-body">
        <logo />
        <table id="reportTable" class="table table-bordered" style="font-size: 11px !important; border-spacing:0px;" border="0" width="100%">
            <thead>

                <tr>
                    <th colspan="6" style="text-align:center;vertical-align:middle; border:none !important;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                        <br />
                        @GlobalResEstate.lblEstateAccReport
                        <br />
                        <label style="font-size:small">

                        </label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <th colspan="2" style="border-bottom:1px solid !important; border-top:none !important; border-left:none !important; border-right:none !important; border-bottom-color:red !important">@item.fld_LdgCode - @item.fld_LdgName</th>
                    </tr>
                    <tr>
                        <td style="border:none !important; width:50%; vertical-align:top; padding:0px !important">
                            <table style="font-size:11px !important; padding:0px !important">
                                <tr>
                                    <td style="border:none !important;">
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblBankName</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblCompanyID</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblOriginatorID</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblBranchCode</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblUpdateDate</label><br />

                                    </td>
                                    <td style="border:none !important;">
                                        <label style="font-size:small; font-weight:normal;">: @GetConfig.GetBank(item.fld_BankCode, item.fld_NegaraID.Value, item.fld_SyarikatID.Value)</label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_LdgCode</label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_OriginatorID </label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_BranchCode </label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_BankCreatedDate </label><br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="border:none !important; width:50%">
                            <table style="font-size:11px !important">
                                <tr>
                                    <td style="border:none !important;">
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblNoAcc</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblCompanyName</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblOriginatorName</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblBranchName</label><br />
                                        <label style="font-size:small; font-weight:normal;">@GlobalResEstate.lblUpdateBy</label><br />
                                    </td>
                                    <td style="border:none !important;">
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_NoAcc</label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_LdgName</label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_OriginatorName</label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_BranchName</label><br />
                                        <label style="font-size:small; font-weight:normal;">: @item.fld_BankCreatedBy</label><br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    @*<a href="#" id="printpage">Cetak Laporan</a>*@
                    @*<a href="#" id="downloadpdf2">Download PDF</a>
                        <a href="#" onclick="HTMLtoExcel('@uniquefilename')">Download Excel</a>*@
                }
            </tbody>
        </table>
        @*<newpage />*@
    </div>
    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
            </a>
            <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
            </a>
       </div>
    }

}

            <script>
    $(document).ready(function () {
       $("#printpage").click(function () {
                    var DivElement = document.getElementById("scrollArea").innerHTML;
                    var oldPage = document.body.innerHTML;
                    document.body.innerHTML = DivElement;
                    window.print();
                    document.body.innerHTML = oldPage;
       })

        $("#downloadpdf").click(function () {
            //var RadioGroup = $('input[name=RadioGroup]:checked').val();
            //var MonthList = $("#MonthList").val();
            //var YearList = $("#YearList").val();
            //var SelectionList = $("#SelectionList").val();
            //var StatusList = $("#StatusList").val();
            //var WorkCategoryList = $("#WorkCategoryList").val();

            //var StatusList = '';
            //var WorkCategoryList = '';

            var param = '/?';
            var controller = 'Report';
            var action = 'PrintAccBankPdf';

            var ajxfn = {};
            ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                //var win = window.open(result.link, '_blank');
                //win.focus();
                PDFObject.embed(result.link, "#searchAccBankRptInfo", { height: "450px" });
            };

            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
        });
    });
            </script>
