@*commented by faeza 13.02.2023*@
@*@model IEnumerable<MVC_SYSTEM.Models.tbl_Kerjahdr>
    @using MVC_SYSTEM.Class;

    @{
        ViewBag.Title = "_PaySlipRptDaycount";
        GetConfig GetConfig = new GetConfig();
        var WorkerInfo = Model.Select(s => new { s.fld_Nopkj, s.fld_NegaraID, s.fld_SyarikatID,s.fld_WilayahID, s.fld_LadangID }).Distinct().FirstOrDefault();
        int Month = ViewBag.Month;
        int Year = ViewBag.Year;
        int WorkingDay = 0;
        decimal SlryCurrentMonth = 0;
        decimal SlryLastMonth = 0;

        CheckrollFunction CheckrollFunction = new CheckrollFunction();
        if (WorkerInfo != null)
        {
            CheckrollFunction.PaySlipAddInfo(WorkerInfo.fld_NegaraID, WorkerInfo.fld_SyarikatID, WorkerInfo.fld_WilayahID, WorkerInfo.fld_LadangID, Month, Year, WorkerInfo.fld_Nopkj, out WorkingDay, out SlryCurrentMonth, out SlryLastMonth);
        }
    }
    @foreach (var Kdhdct in Model.Select(s => new { s.fld_Kdhdct, s.fld_NegaraID, s.fld_SyarikatID }).Distinct())
    {
        <tr>
            <td width="4%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important;">Total @GetConfig.GetWebConfigDesc(Kdhdct.fld_Kdhdct, "cuti", Kdhdct.fld_NegaraID, Kdhdct.fld_SyarikatID)</td>
            <td width="1%" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important;">@Model.Where(x => x.fld_Kdhdct == Kdhdct.fld_Kdhdct).Select(s => s.fld_Kdhdct).Count()</td>
        </tr>
    }
        <tr>
            <td width="4%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important;">Offered Working Day</td>
            <td width="1%" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important;">@WorkingDay</td>
        </tr>
        <tr>
            <td width="4%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important;">Last Month Average Gross Salary (RM)</td>
            <td width="1%" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important;">@SlryLastMonth</td>
        </tr>
        <tr>
            <td width="4%" style="margin: 2px !important; padding: 2px !important; text-align: left; vertical-align: middle !important;">Current Month Average Gross Salary (RM)</td>
            <td width="1%" style="margin: 2px !important; padding: 2px !important; text-align: right; vertical-align: middle !important;">@SlryCurrentMonth</td>
        </tr>*@

@model IEnumerable<MVC_SYSTEM.CustomModels.FooterPayslipDetails>
@{
    /**/

    var hdrhrbs = Model.Where(x => x.flag == "hdrhrbs").Select(s => s.count).FirstOrDefault();
    var hdrhrmg = Model.Where(x => x.flag == "hdrhrmg").Select(s => s.count).FirstOrDefault();
    var hdrhrcu = Model.Where(x => x.flag == "hdrhrcu").Select(s => s.count).FirstOrDefault();
    var hdrhrpg = Model.Where(x => x.flag == "hdrhrpg").Select(s => s.count).FirstOrDefault();
    var hdrhrct = Model.Where(x => x.flag == "hdrhrct").Select(s => s.count).FirstOrDefault();
    var hdrhrtg = Model.Where(x => x.flag == "hdrhrtg").Select(s => s.count).FirstOrDefault();
    var hdrhrcs = Model.Where(x => x.flag == "hdrhrcs").Select(s => s.count).FirstOrDefault();
    var hdrhrca = Model.Where(x => x.flag == "hdrhrca").Select(s => s.count).FirstOrDefault();
    var hdrhrcm = Model.Where(x => x.flag == "hdrhrcm").Select(s => s.count).FirstOrDefault();
    var hdrhrcb = Model.Where(x => x.flag == "hdrhrcb").Select(s => s.count).FirstOrDefault();
    var hdrhrch = Model.Where(x => x.flag == "hdrhrch").Select(s => s.count).FirstOrDefault();
    var hdrhrce = Model.Where(x => x.flag == "hdrhrce").Select(s => s.count).FirstOrDefault();
    var hdrhrcp = Model.Where(x => x.flag == "hdrhrcp").Select(s => s.count).FirstOrDefault();
    var hdrothrbs = Model.Where(x => x.flag == "hdrothrbs").Select(s => s.value).FirstOrDefault();
    var hdrothrcm = Model.Where(x => x.flag == "hdrothrcm").Select(s => s.value).FirstOrDefault();
    var hdrothrcu = Model.Where(x => x.flag == "hdrothrcu").Select(s => s.value).FirstOrDefault();
    var hrkrja = Model.Where(x => x.flag == "hrkrja").Select(s => s.count).FirstOrDefault();
    var jmlhhdr = Model.Where(x => x.flag == "jmlhhdr").Select(s => s.count).FirstOrDefault();
    var crmnthavgslry = Model.Where(x => x.flag == "crmnthavgslry").Select(s => s.value).FirstOrDefault();
    var lsmnthavgslry = Model.Where(x => x.flag == "lsmnthavgslry").Select(s => s.value).FirstOrDefault();
    var currentyearavgsalary = Model.Where(x => x.flag == "currentyearavgsalary").Select(s => s.value).FirstOrDefault();
    var lastyearavgsalary = Model.Where(x => x.flag == "lastyearavgsalary").Select(s => s.value).FirstOrDefault();
}
<tr>
    <td>Jumlah Hari Bekerja</td>
    <td>@hrkrja</td>
    <td>Jumlah Cuti Tahunan</td>
    <td>@hdrhrct</td>
    <td>Jumlah Cuti Ehsan</td>
    <td>@hdrhrce</td>
</tr>
<tr>
    <td>Jumlah Hadir Hari Biasa</td>
    <td>@hdrhrbs</td>
    <td>Jumlah Cuti Sakit</td>
    <td>@hdrhrcs</td>
    <td>Jumlah OT - Hari Biasa (Jam)</td>
    <td>@hdrothrbs</td>
</tr>
<tr>
    <td>Jumlah Hadir Hari Minggu</td>
    <td>@hdrhrmg</td>
    <td>Jumlah Cuti Hospitalisasi</td>
    <td>@hdrhrch</td>
    <td>Jumlah OT - Hari Cuti Minggu (Jam)</td>
    <td>@hdrothrcm</td>
</tr>
<tr>
    <td>Jumlah Hadir Hari Cuti Umum</td>
    <td>@hdrhrcu</td>
    <td>Jumlah Cuti Umum</td>
    <td>@hdrhrca</td>
    <td>Jumlah OT - Hari Cuti Umum (Jam)</td>
    <td>@hdrothrcu</td>
</tr>
<tr>
    <td>Jumlah Hari Hadir</td>
    <td>@jmlhhdr</td>
    <td>Jumlah Cuti Hari Minggu</td>
    <td>@hdrhrcm</td>
    <td>Purata Gaji Bulan ini</td>
    <td>@crmnthavgslry</td>
</tr>
<tr>
    <td>Jumlah Hari Terabai</td>
    <td>0</td>
    <td>Jumlah Cuti Bersalin</td>
    <td>@hdrhrcb</td>
    <td>Purata Gaji Bulan Lepas</td>
    <td>@lsmnthavgslry</td>
</tr>
<tr>
    <td>Jumlah Ponteng</td>
    <td>@hdrhrpg</td>
    <td>Jumlah Cuti Tanpa Gaji</td>
    <td>@hdrhrtg</td>
    <td>Purata Gaji Setahun Tahun Ini</td>
    <td>@currentyearavgsalary</td>
</tr>
<tr>
    <td> </td>
    <td> </td>
    <td>Jumlah Cuti Paterniti</td>
    <td>@hdrhrcp</td>
    <td>Purata Gaji Setahun Tahun Lepas </td>
    <td>@lastyearavgsalary </td>
</tr>



