@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@model IEnumerable<MVC_SYSTEM.Models.sp_RptProduktiviti_Result>

@{
    GetTriager GetTriager = new GetTriager();
    GetEstateDetail GetGroup = new GetEstateDetail();
    GetConfig GetConfig = new GetConfig();

    int? month = ViewBag.MonthList;
    int? year = ViewBag.YearList;
    string worker = ViewBag.WorkerList;
    string Aktiviti = ViewBag.ActivityList;
    string uniquefilename = "Productivity";
    int bil = 0;
}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea2" class="modal-body">

        <p style="font-size: 11px" align="right">Tarikh : @ViewBag.Date</p>

        <table class="table table-hover" style="font-size: 11px;" border="0">
            <thead>
                <tr>
                <tr>
                    <th colspan="18" style="text-align: center; vertical-align: middle; border: none;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                        <br />
                        Laporan Produktiviti Pekerja Bulan @ViewBag.MonthList/@ViewBag.YearList
                        <br />
                        <br />
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">No Pekerja</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Nama Pekerja</th>
                    @*mirza - comment column target hasl dan unit target  hasil*@
                    @*<th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Target Hasil</th>
            <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Unit Target Hasil</th>*@
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Hasil Sebenar</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Unit Hasil Sebenar</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Aktiviti</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Peringkat</th>
                    <th rowspan="2" width="2%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Jumlah (RM)</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model.Select(s => new { s.fld_Nopkj, s.fld_Nama }).Distinct())
                {

                    bil += 1;                   
                    var totalAmaunForBil = Model
                    .Where(x => x.fld_Nopkj == item.fld_Nopkj)
                    .Sum(x => x.fld_AmaunBayar);

                    <tr>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @bil
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @item.fld_Nopkj
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" width="10%" border="1">
                            @item.fld_Nama
                        </td>
                        @*mirza - comment column target hasl dan unit target  hasil*@
                        @*<td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj).Select(s => new { s.fld_TargetHarian, s.fld_HariBekerjaSebenar }).Distinct())
                            {
                                @GetTriager.GetProductofTwoNumber(@yield.fld_HariBekerjaSebenar, @yield.fld_TargetHarian) <br />
                            }
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj).Select(s => new { s.fld_TargetHarian, s.fld_UnitTargetHarian }).Distinct())
                            {
                                @yield.fld_UnitTargetHarian <br />
                            }
                        </td>*@
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj))
                            {
                                @yield.fld_Hasil<br />
                            }
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj))
                            {
                                @yield.fld_Unit<br />
                            }
                        </td>
                        <td align="left" style="vertical-align: middle !important; border: 1px solid black;" width="13%" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj))
                            {
                                @yield.fld_KodAktvt<br />
                            }
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj))
                            {
                                @yield.fld_KodPkt<br />
                            }
                        </td>
                        <td align="right" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @foreach (var yield in Model.Where(x => x.fld_Nopkj == item.fld_Nopkj))
                            {
                                @yield.fld_AmaunBayar<br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" align="right" bgcolor="#FCC997" style="font-weight:bold; text-align:right; vertical-align:middle; border:1px solid black;">
                            Jumlah (RM):
                        </td>
                        <td align="right" bgcolor="#FCC997" style="font-weight:bold; vertical-align:middle; border:1px solid black;">
                            @String.Format("{0:N2}", totalAmaunForBil)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <newpage />
    </div>
    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
            </a>
            @*mirza- tambah unique filename - 20/1/2025*@
            <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
            </a>
        </div>
            }
        }

@if (Model.Count() == 0)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }
</style>
        @*mirza-cater downloadexcel - 20/1/2025*@
        <script src="~/Asset/Scripts/FromHTML.js"></script>
        <script src="~/Asset/Scripts/FileSaver.js"></script>

<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf").click(function () {
            //var RadioGroup = $('input[name=RadioGroup]:checked').val();
            var MonthList = $("#MonthList").val();
            //console.log(MonthList);
            var YearList = $("#YearList").val();
            //console.log(YearList);
            var SelectionList = $("#SelectionList").val();
            //console.log(SelectionList);
            var ActivityList = $("#ActivityList").val();
            //console.log(ActivityList);
            var UnitList = $("#UnitList").val();
            //console.log(UnitList);
            var AllPeringkatList = $("#AllPeringkatList").val();
            //console.log(AllPeringkatList);

            var StatusList = '';
            //var WorkCategoryList = '';

            var param = '/?MonthList=' + MonthList + '&YearList=' + YearList + '&SelectionList=' + SelectionList + '&ActivityList=' + ActivityList + '&UnitList=' + UnitList + '&AllPeringkatList=' + AllPeringkatList + '&StatusList=' + StatusList;
            //console.log(param);

            var controller = 'Report';
            var action = 'PrintProductPdf';

            var ajxfn = {};
            ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                //var win = window.open(result.link, '_blank');
                //win.focus();
                PDFObject.embed(result.link, "#searchResultProductivityRptInfo", { height: "450px" });
            };

            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
        });
    });
</script>