@model IEnumerable<MVC_SYSTEM.ViewingModels.ContributionReport>

@{
    int bill = 1;
    System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
    GetTriager GetTriager = new GetTriager();
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    DateTime Todaydate = ChangeTimeZone.gettimezone();
    string uniquefilename = "ContributionReport" + "_" + Todaydate.Year.ToString() + Todaydate.Month.ToString() + Todaydate.Day.ToString() + Todaydate.Hour.ToString() + Todaydate.Minute.ToString() + Todaydate.Second.ToString();
}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea2" class="modal-body">
        <logo />
        <table class="table table-bordered" style="font-size: 11px;" border="0" width="100%">
            <thead>
                <tr>
                    <th colspan="17" style="text-align:center;vertical-align:middle;">
                        @* modified by faeza 26.08.2021 *@
                        @ViewBag.NamaSyarikat
                        <br />
                        @*(@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)*@
                        @ViewBag.NamaWilayah : @ViewBag.NamaLadang (@ViewBag.NamaDivision)
                        <br />
                        Worker Monthly Contribution Report
                        <br />
                        @GlobalResEstate.lblMonth : @ViewBag.MonthSelection  @GlobalResEstate.lblYear : @ViewBag.YearSelection
                    </th>
                </tr>
                <tr>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoPkj</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrName</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">IC/Passport</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SOCSO/SBKP No.</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Salary For Contribution KWSP (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">KWSP Employee Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">KWSP Employer Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">Salary For Contribution Perkeso (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SOCSO Employee Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SOCSO Employer Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SIP Employee Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SIP Employer Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SBKP Employee Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">SBKP Employer Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">PCB Employee Contribution (RM)</th>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">PCB Employer Contribution (RM)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @bill
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.WorkerNo
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.WorkerName
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.WorkerIDNo
                    </td>
                    @*add by Faeza on 03.06.2020*@
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.WorkerSocsoNo
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.TotalSalaryForKwsp.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.KwspContributionEmplyee.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.KwspContributionEmplyer.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.TotalSalaryForPerkeso.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.SocsoContributionEmplyee.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.SocsoContributionEmplyer.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.SipContributionEmplyee.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.SipContributionEmplyer.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.SbkpContributionEmplyee.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.SbkpContributionEmplyer.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.PcbContributionEmplyee.ToString())
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @GetTriager.GetDashForNull(item.PcbContributionEmplyer.ToString())
                    </td>
                </tr>
                    bill++;
                }
            </tbody>
        </table>
    </div>

    <div style="text-align:right; margin-top:10px">
        <a class="btn btn-default btn-sm" href="#" id="printpage">
            <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
        </a>
        @*<a class="btn btn-default btn-sm" href="#" id="downloadpdf">
            <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
        </a>*@
        <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
            <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
        </a>
    </div>
}
else
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">No Data</p>
    </div>
}

<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>

<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })
    });
</script>