@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@model IEnumerable<MVC_SYSTEM.Models.tbl_Pkjmast>
@{
    ViewBag.Title = "workerPbklReport";
    GetConfig GetConfig = new GetConfig();
    System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
    
    int bill = 0;
    string nama = "";
}
@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea" class="modal-body">
        <logo />
        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0" width="100%" id="test">
            @foreach (var pkj in Model.Select(s => new { s.fld_Kodbkl, s.fld_WilayahID, s.fld_NegaraID, s.fld_SyarikatID, s.fld_LadangID }).Distinct())
            {
                bill = 0;
                nama = @GetConfig.GetPembekal(pkj.fld_Kodbkl, pkj.fld_NegaraID.Value, pkj.fld_SyarikatID.Value);
                <thead>
                    <tr>
                        <th colspan="6" style="text-align:center;vertical-align:middle; border:none !important;">
                            @ViewBag.NamaSyarikat
                            <br />
                            (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                            <br />
                            @GlobalResEstate.WorkerSuppReport
                            <br />
                        </th>
                    </tr>
                    <tr>
                        <th colspan="10" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                            @GlobalResEstate.lblNamaSupp : @nama
                        </th>
                    </tr>
                    <tr>
                        <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>
                        <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoPkj</th>
                        <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrName</th>
                        <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoKp</th>
                        <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblWorkerType</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.fld_Kodbkl == pkj.fld_Kodbkl))
                    {
                        bill = bill + 1;
                        <tr>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                @bill
                            </td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                @item.fld_Nopkj
                            </td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                @item.fld_Nama
                            </td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                @item.fld_Nokp
                            </td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                @GetConfig.GetJnsPkj(item.fld_Jenispekerja, item.fld_NegaraID.Value, item.fld_SyarikatID.Value)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            }
        </table>
        <newpage />
    </div>
    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
            </a>
            <a class="btn btn-default btn-sm" href="#" value="Export" onclick="ExcelReport">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
            </a>
        </div>
    }
}


@if (Model == null || Model.Count() == 0)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf").click(function () {
            var RadioGroup = $('input[name=RadioGroup]:checked').val();
            var MonthList = $("#MonthList").val();
            var YearList = $("#YearList").val();
            var WorkerList = $("#WorkerList").val();
            var StatusList = '';
            var WorkCategoryList = '';

            var param = '/?MonthList=' + MonthList + '&YearList=' + YearList + '&WorkerList=' + WorkerList;
            var controller = 'Report';
            var action = 'PrintWorkPdf';

            var ajxfn = {};
            ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                PDFObject.embed(result.link, "#searchResultWorkRptInfo", { height: "450px" });
            };

            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
        });

        $("#ExcelReport").click(function () {
        //function fnExcelReport()
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('test'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        })
    });
</script>