@using MVC_SYSTEM.Class
@model IEnumerable<MVC_SYSTEM.ViewingModels.vw_MaklumatCutiPekerja>

@{
    GetTriager GetTriager = new GetTriager();
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();

    int? month = ViewBag.MonthList;
    int? year = ViewBag.YearList;
    string worker = ViewBag.WorkerList;
    int bil = 0;

    int years = ChangeTimeZone.gettimezone().Year;
    int months = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;

    string uniquefilename = "Annual Leaves Report_" + ViewBag.UserID + "_" + years.ToString() + months.ToString() + day.ToString();
}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea2" class="modal-body">
        <logo />
        <table id="table" class="table table-bordered" style="font-size: 11px;" border="0">
            <thead>
                <tr>
                    <th colspan="18" style="text-align: center; vertical-align: middle; border: none;">
                        @ViewBag.NamaSyarikat
                        @* -----Add by fitri 15.9.2021 *@
                        <br />
                        @ViewBag.EstateCode - @ViewBag.EstateName (@ViewBag.DivisionName)
                        @* -----Closed *@
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                        <br />
                        @GlobalResEstate.lblLeaveReport
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoPkj</th>
                    <th rowspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrName</th>
                    <th rowspan="1" colspan="2" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblLeave</th>
                    <th rowspan="1" colspan="12" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblMonth</th>
                    <th rowspan="2" width="2%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblTotal</th>

                </tr>
                <tr>
                    <th rowspan="1" width="3%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblLeaveType</th>
                    <th rowspan="1" width="2%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblQualify</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">1</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">2</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">3</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">4</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">5</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">6</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">7</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">8</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">9</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">10</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">11</th>
                    <th rowspan="1" width="1%" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">12</th>

                </tr>
            </thead>
            <tbody class="tablebody">
                @foreach (var item in Model)
                {
                    int tahunMonthCount = 0;
                    int amMonthCount = 0;
                    int sakitMonthCount = 0;
                    //int hariMingguMonthCount = 0;
                    int cutiMingguanMonthCount = 0;
                    int pontengMonthCount = 0;

                    bil = bil + 1;

                    <tr class="fullrow">
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1" rowspan="5">@bil</td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1" rowspan="5">@item.Pkjmast.fld_Nopkj</td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1" rowspan="5">@item.Pkjmast.fld_Nama</td>
                        <td style="vertical-align:middle !important;border:1px solid black;" border="1">
                            Cuti Tahunan
                        </td>

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.CutiTahunan
                        </td>

                        @foreach (var cuti in item.CutiTahunByBulan)
                        {
                            tahunMonthCount += 1;

                            if (cuti != 0)
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @*<a data-modal1='' href="@Url.Action("_WorkerAnnualLeaveByMonth", "Report", new { nopkj = item.Pkjmast.fld_Nopkj, month = tahunMonthCount, year = year })">@cuti</a>*@ @cuti
                                </td>
                            }
                            else
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @cuti
                                </td>
                            }
                        }

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">

                            @GetTriager.GetTotalForDays(item.CutiTahunByBulan)
                        </td>
                    </tr>
                    <tr class="fullrow">
                        <td style="vertical-align:middle !important;border:1px solid black;" border="1">
                            Cuti Am
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.CutiAm
                        </td>
                        @foreach (var cuti in item.CutiAmByBulan)
                        {
                            amMonthCount += 1;

                            if (cuti != 0)
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @*<a data-modal1='' href="@Url.Action("_WorkerPublicHolidayByMonth", "Report", new { nopkj = item.Pkjmast.fld_Nopkj, month = amMonthCount, year = year })">@cuti</a>*@ @cuti
                                </td>
                            }
                            else
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @cuti
                                </td>
                            }
                        }

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">

                            @GetTriager.GetTotalForDays(item.CutiAmByBulan)
                        </td>

                    </tr>
                    <tr class="fullrow">
                        <td colspan="1" style="vertical-align:middle !important;border:1px solid black;" border="1">Cuti Sakit</td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.CutiSakit
                        </td>
                        @foreach (var cuti in item.CutiSakitByBulan)
                        {
                            sakitMonthCount += 1;

                            if (cuti != 0)
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @*<a data-modal1='' href="@Url.Action("_WorkerRegularDayAttendanceByMonth", "Report", new { nopkj = item.Pkjmast.fld_Nopkj, month = sakitMonthCount, year = year })">@cuti</a>*@ @cuti
                                </td>
                            }
                            else
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @cuti
                                </td>
                            }

                        }
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">

                            @GetTriager.GetTotalForDays(item.CutiSakitByBulan)
                        </td>

                    </tr>
                    <tr class="fullrow">
                        <td colspan="2" style="vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblWeeklyLeave</td>
                        @foreach (var cuti in item.CutiMingguanByBulan)
                        {
                            cutiMingguanMonthCount += 1;

                            if (cuti != 0)
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @*<a data-modal1='' href="@Url.Action("_WorkerWeeklyLeaveByMonth", "Report", new { nopkj = item.Pkjmast.fld_Nopkj, month = cutiMingguanMonthCount, year = year })">@cuti</a>*@ @cuti
                                </td>
                            }
                            else
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @cuti
                                </td>
                            }
                        }
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetTriager.GetTotalForDays(item.CutiMingguanByBulan)
                        </td>

                    </tr>
                    <tr class="fullrow">
                        <td colspan="2" style="vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblAbsent</td>
                        @foreach (var cuti in item.PontengByBulan)
                        {
                            pontengMonthCount += 1;

                            if (cuti != 0)
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @*<a data-modal1='' href="@Url.Action("_WorkerSkipByMonth", "Report", new { nopkj = item.Pkjmast.fld_Nopkj, month = pontengMonthCount, year = year })">@cuti</a>*@ @cuti
                                </td>
                            }
                            else
                            {
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @cuti
                                </td>
                            }
                        }
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetTriager.GetTotalForDays(item.PontengByBulan)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <newpage />
    </div>
    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
            </a>
            <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
            </a>
        </div>
    }
}

@if (Model.Count() == 0)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }

    .hovering {
        background-color: red;
    }

    /*tr:hover td:not([rowspan]) {background:}
    tr:hover td[rowspan]:hover ~ td {background:}*/

</style>

<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>

<script>
    $(document).ready(function () {
        $("#printpage").click(function() {
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        });

        //added by Faeza 17.03.2021
        $("#downloadpdf2").click(function () {
            var myHtml = document.getElementById('scrollArea2').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "LeaveReport" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
            });
            return false;
        });

        //commented by Faeza 17.03.2021
        @*$("#downloadpdf").click(function () {
            var RadioGroup = $('input[name=RadioGroup]:checked').val();
            //var MonthList = $("#MonthList").val();
            var YearList = $("#YearList").val();
            var SelectionList = $("#SelectionList").val();
            //var StatusList = $("#StatusList").val();
            //var WorkCategoryList = $("#WorkCategoryList").val();

            var StatusList = '';
            var WorkCategoryList = '';

            var param = '/?RadioGroup=' + RadioGroup + '&YearList=' + YearList + '&SelectionList=' + SelectionList + '&StatusList=' + StatusList + '&WorkCategoryList=' + WorkCategoryList;
            var controller = 'Report';
            var action = 'PrintLeavePdf';

            var ajxfn = {};
            ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                //var win = window.open(result.link, '_blank');
                //win.focus();
                PDFObject.embed(result.link, "#searchResultWorkerLeaveRptInfo", { height: "450px" });
            };

            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
        });*@
    });

    function findBlocks(theTable) {
        if ($(theTable).data('hasblockrows') == null) {
            //console.log(theTable);
            console.log('findBlocks'); // to prove we only run this once

            // we will loop through the rows but skip the ones not in a block
            var rows = $(theTable).find('tr');
            for (var i = 0; i < rows.length;) {

                var firstRow = rows[i];
                //console.log(firstRow);

                // find max rowspan in this row - this represents the size of the block
                var maxRowspan = 1;
                $(firstRow).find('td').each(function () {
                    var attr = parseInt($(this).attr('rowspan') || '1', 10);
                    if (attr > maxRowspan) maxRowspan = attr;
                    //console.log(this);
                });

                // set to the index in rows we want to go up to
                maxRowspan += i;
                //console.log(maxRowspan);

                // build up an array and store with each row in this block
                // this is still memory-efficient, as we are just storing a pointer to the same array
                // ... which is also nice becuase we can build the array up in the same loop
                var blockRows = [];
                for (; i < maxRowspan; i++) {
                    $(rows[i]).data('blockrows', blockRows);
                    blockRows.push(rows[i]);
                }

                //console.log(blockRows);

                // i is now the start of the next block
            }

            // set data against table so we know it has been inited (for if we call it in the hover event)
            $(theTable).data('hasblockrows', 1);
        }
    }

    $("td").hover(function () {
        $el = $(this);
        //console.log(this);
        //findBlocks($el.closest('table')); // you can call it here or onload as below
        $.each($el.parent().data('blockrows'), function () {
            $(this).find('td').addClass('hover');
        });
    }, function () {
        $el = $(this);
        $.each($el.parent().data('blockrows'), function () {
            $(this).find('td').removeClass('hover');
        });
    });

    findBlocks($('table'));
    //function findBlocks() {
    //    $(".fullrow")
    //        .hover(function() {
    //            var id = this.getAttribute("data-id");
    //            // on hover, we get an "id", and all tr's that have class "row<id>" are the ones to color
    //            $(".row"+id).addClass("hovering");
    //        })
    //        .on ("blur mouseleave", function() {
    //            var id=this.getAttribute("data-id");
    //            $(".row"+id).removeClass("hovering");
    //        });
    //}

    //$(function () {
    //    $("td").hover(function () {
    //        $el = $(this);
    //        //console.log(this);
    //        $el.parent().addClass("hover");
    //        var tdIndex = $('tr').index($el.parent());
    //        console.log(tdIndex);
    //        if ($el.parent().has('td[rowspan]').length == 0) {
    //            $el.parent().prevAll('tr:has(td[rowspan]):first')
    //                .find('td[rowspan]').filter(function () {
    //                    var rowSpan = parseInt($(this).attr('rowspan'));
    //                    var cIndex = $('tr').index($(this).parent());
    //                    return rowSpan >= tdIndex + 1 || (cIndex + rowSpan) > tdIndex;

    //                    //return checkRowSpan(this, tdIndex);
    //                }).addClass("hover");
    //        }
    //    }, function () {
    //        $el.parent()
    //            .removeClass("hover")
    //            .prevAll('tr:has(td[rowspan]):first')
    //            .find('td[rowspan]')
    //            .removeClass("hover");

    //    });
    //});

    //function checkRowSpan(element, pIndex) {
    //    var rowSpan = parseInt($(element).attr('rowspan'));
    //    console.log(rowSpan);
    //    var cIndex = $('tr').index($(element).parent());
    //    console.log(cIndex)
    //    return rowSpan >= pIndex + 1 || (cIndex + rowSpan) > pIndex;
    //}
</script>
