@*@model IEnumerable<MVC_SYSTEM.Models.tbl_Pkjmast>*@
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "AccountReport";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //GetConfig GetConfig = new GetConfig();
    ////DateTime printdate = DateTime.Now.Date;
    ////DateTime printtime = DateTime.Now.ToShortTimeString;
    //ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    //DateTime Todaydate = ChangeTimeZone.gettimezone();
    //string uniquefilename = "AccountReport_" + ViewBag.UserID + "_" + Todaydate.Year.ToString() + Todaydate.Month.ToString() + Todaydate.Day.ToString() + Todaydate.Hour.ToString() + Todaydate.Minute.ToString() + Todaydate.Second.ToString();

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchAccReport",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };

}
<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>


<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_AccReport", "Report", null, options, new { @id = "GrpReport" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-2" id="divlist">
                    @Html.Label(GlobalResEstate.lblAccStatus)
                    @Html.DropDownList("StatusList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label id="SelectionLabel">@GlobalResEstate.lblWorkerType</label>
                    @Html.DropDownList("JnsPkjList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="btnSubmit" value="@GlobalResEstate.btnView" @*onclick="return DisplayProgressMessage(this);"*@ />
                </div>
                @*<div class="col-sm-2" style="padding-top:25px;">
                        <input class="btn btn-primary btn-block" name="Lihat" id="printpage" value="Print"/>
                    </div>*@
            </div>
        }
</div>
        
        <div class="well" style="margin-top:7px;">
            <div class="panel panel-primary">
                <div class="panel-heading">@GlobalResEstate.WorkerAccReport.ToUpper()</div>
                <div class="panel-body">
                    <div id="searchAccReport">
                        @Html.Action("_AccReport")
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function (e) {
            $("#UpdateProgress1").css("display", "");
            //$("#workdata").css("display", "none");
            var ajxfn = {};
            ajxfn.url = "@Url.Action("GetList", "Report")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ StatusList: $("#StatusList").val() });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
            //$('#ListofDetail3').empty();
            //    $('#PilihanPkt').empty();
            //for (var i = 0; i < result.length; i++) {
            //    $("#StatusList").append("<option value=" + result[i].Value + ">" + result[i].Text + "</option>");
            //}
            $("#UpdateProgress1").css("display", "none");
            };

            ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);
            }
        );
    });

</script>