@{
    ViewBag.Title = "ExpiredNotiReport";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchResultExpNotiInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}
<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-wrapper main-content clear-fix">
        <div class="well bottom" style="padding-bottom:16px;">

            <div class="row">
                <div class="col-sm-2" id="divlist">
                    @Html.Label(GlobalResEstate.lblPassportExpiredMonth)
                    @Html.DropDownList("MonthList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label id="SelectionLabel">@GlobalResEstate.lblWorkerType</label>
                    @Html.DropDownList("JnsPkjList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2" style="padding-top:25px;">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="btnSubmit" value="@GlobalResEstate.btnView" onclick="return DisplayProgressMessage(this);" />
                </div>
                @*<div class="col-sm-2" style="padding-top:25px;">
                        <input class="btn btn-primary btn-block" name="Lihat" id="printpage" value="Print"/>
                    </div>*@
            </div>
        </div>
        <div class="well" style="margin-top:7px;">
            <div class="panel panel-primary">
                <div class="panel-heading">@GlobalResEstate.lblExpiredReport.ToUpper()</div>
                <div class="panel-body">
                    @if (ViewBag.getflag == 1)
                    {
                        <p style="color:red">@GlobalResEstate.msgChoosePassportExpired</p>
                    }
                    else
                    {
                        <div class="modal-body">
                            <div class="panel with-nav-tabs panel-info">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs">
                                        <li class="active" id="li1" onclick="getheading(this.id)"><a href="#tab1primary" data-toggle="tab">@GlobalResEstate.lblPermitReport</a></li>
                                        <li class="" id="li2" onclick="getheading(this.id)"><a href="#tab2primary" data-toggle="tab">@GlobalResEstate.lblPassportReport</a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab1primary">
                                            @{
                                                Html.RenderAction("ExpiredPermit", "Report", new { MonthList = ViewBag.SelectionMonth });
                                            }
                                        </div>
                                        <div class="tab-pane fade" id="tab2primary">
                                            @{
                                                Html.RenderAction("ExpiredPassport", "Report", new { MonthList = ViewBag.SelectionMonth });
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
    <script>
    $(document).ready(function () {
        $("#btnSubmit").click(function (e) {
            $("#UpdateProgress1").css("display", "");

            var ajxfn = {};
            ajxfn.url = "@Url.Action("GetList", "Report")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ MonthList: $("#MonthList").val() });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {

            $("#UpdateProgress1").css("display", "none");
            };

            ajxfn.error = function () {
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);
            }
        );
    });

    </script>
