@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "Worker Leave Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchResultWorkerLeaveRptInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>

<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_WorkerLeaveRptSearch", "Report", null, options, new { @id = "WorkerLeaveRptSearch" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-2">
                    @Html.RadioButton("RadioGroup", 0, new { @checked = "checked" })
                    @Html.Label(GlobalResEstate.lblIndividuSelection)<br />
                    @Html.RadioButton("RadioGroup", 1)
                    @Html.Label(GlobalResEstate.lblGroupSelection)
                </div>
                <div class="col-sm-1">
                    <label>@GlobalResEstate.lblYear</label>
                    @Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @* Add by fitri 7.9.2021 *@
                <div class="col-sm-2">
                    @Html.Label(GlobalResEstate.lblDivision)
                    @Html.DropDownList("DivisionList", null, htmlAttributes: new { @class = "form-control" })
                    @Html.DropDownList("DivisionList2", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @* Closed add by fitri 7.9.2021 *@
                <div class="col-sm-3">
                    @* Edit by fitri 7.9.2021 (col-sm-3) *@
                    <label id="SelectionLabel">@GlobalResEstate.lblWorker</label>
                    @Html.DropDownList("SelectionList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label id="SelectionLabel">@GlobalResEstate.lblWorkerType</label>
                    @Html.DropDownList("JnsPkjList", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary btn-block" type="submit" name="Lihat" value="Lihat" />
                    <a data-modal1='' href="@Url.Action("_WorkerLeaveRptAdvanceSearch", "Report")" class='btn btn-primary btn-block' role='button'>@GlobalResEstate.btnSearchAdvance</a>
                </div>
            </div>
        }
    </div>
    <div class="well" style="margin-top:7px;">
        <div class="panel panel-primary">
            <div class="panel-heading">@GlobalResEstate.lblLeaveReport</div>
            <div class="panel-body">
                <div id="searchResultWorkerLeaveRptInfo">
                    @Html.Action("_WorkerLeaveRptSearch")
                </div>
            </div>
        </div>
    </div>
</section>


<!-- modal placeholder-->
<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

@*Comment by fitri 7.9.2021*@
@*<script>
        $(document).ready(function () {
            $('input[name="RadioGroup"]').on("click", function (e) {
                console.log($('input[name=RadioGroup]:checked').val());
                var Radiogrp = $('input[name=RadioGroup]:checked').val();
                var radiogroup = {};
                var disableoption = "";
                $('#divLoading').show();
                radiogroup.url = "@Url.Action("GetList", "Report")";
                radiogroup.type = "POST";
                radiogroup.data = JSON.stringify({ RadioGroup: Radiogrp, StatusList: $("#StatusList").val() });
                radiogroup.datatype = "json";
                radiogroup.contentType = "application/json";
                radiogroup.success = function (result) {
                    document.getElementById("SelectionLabel").innerText = result.SelectionLabel;
                    $("#SelectionList").empty();
                    for (var i = 0; i < result.SelectionList.length; i++) {
                        $("#SelectionList").append("<option value=" + result.SelectionList[i].Value + " " + disableoption + ">" + result.SelectionList[i].Text + "</option>");
                    }
                    $('#divLoading').hide();
                };
                radiogroup.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
                $.ajax(radiogroup);
            });
        });
    </script>*@

@*Add by fitri 7.9.2021*@
<script>
    $(document).ready(function () {
        $('#DivisionList2').hide();
        $('input[name="RadioGroup"]').on("click", function (e) {
            console.log($('input[name=RadioGroup]:checked').val());
            var Radiogrp = $('input[name=RadioGroup]:checked').val();
            var radiogroup = {};
            var disableoption = "";
            $('#divLoading').show();
            radiogroup.url = "@Url.Action("GetList3", "Report")";
            radiogroup.type = "POST";
            radiogroup.data = JSON.stringify({ RadioGroup: Radiogrp, StatusList: $("#StatusList").val(), DivisionList2: $("#DivisionList2").val() });
            radiogroup.datatype = "json";
            radiogroup.contentType = "application/json";
            radiogroup.success = function (result) {
                if (Radiogrp == 1) {
                    document.getElementById("SelectionLabel").innerText = result.SelectionLabel;
                    $("#SelectionList").empty();
                    $("#SelectionList").append("<option value=1>Please Select</option>");
                    for (var i = 0; i < result.SelectionList.length; i++) {
                        if ($("#DivisionList2").val() == 1111)//edit by fitri 21.1.2022
                        {
                            disableoption = "disabled";
                        }
                        else {
                            $("#SelectionList").append("<option value=" + result.SelectionList[i].Value + " " + disableoption + ">" + result.SelectionList[i].Text + "</option>");
                        }
                    }
                    $('#DivisionList').hide();
                    $('#DivisionList2').show();
                    $('#divLoading').hide();
                }
                else
                {
                    document.getElementById("SelectionLabel").innerText = result.SelectionLabel;
                    $("#SelectionList").empty();
                    $("#SelectionList").append("<option value=1>Please Select</option>");
                    for (var i = 0; i < result.SelectionList.length; i++) {
                        if ($("#DivisionList").val() == 1111) { //edit by fitri 21.1.2022
                            disableoption = "disabled";
                        }
                        else {
                            $("#SelectionList").append("<option value=" + result.SelectionList[i].Value + " " + disableoption + ">" + result.SelectionList[i].Text + "</option>");
                        }
                    }
                    $('#DivisionList2').hide();
                    $('#DivisionList').show();
                    $('#divLoading').hide();
                };
            };
            radiogroup.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(radiogroup);
        });

        $(document).ready(function () {
            if ($("#DivisionList2").val() == 1111) { //edit by fitri 21.1.2022
            debugger
            console.log($('input[name=RadioGroup]:checked').val());
            var Radiogrp = $('input[name=RadioGroup]:checked').val();
            var radiogroup = {};
            var DivisionList = {};
            var disableoption = "";
            DivisionList.url = "@Url.Action("GetList3", "Report")";
            DivisionList.type = "POST";
            DivisionList.data = JSON.stringify({ RadioGroup: Radiogrp, StatusList: $("#StatusList").val(), DivisionList2: $("#DivisionList2").val() });
            DivisionList.datatype = "json";
            DivisionList.contentType = "application/json";
            DivisionList.success = function (SelectionList) {
                $("#SelectionList").empty();
                $("#SelectionList").append("<option value=1>Please Select</option>");
                for (var i = 0; i < SelectionList.length; i++) {
                    if ($("#DivisionList2").val() == 1111)//edit by fitri 21.1.2022
                    {
                        disableoption = "disabled";
                    }
                }
            };
            DivisionList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(DivisionList);
        }

        $("#DivisionList2").change(function () {
            debugger
            console.log($('input[name=RadioGroup]:checked').val());
            var Radiogrp = $('input[name=RadioGroup]:checked').val();
            var radiogroup = {};
            var DivisionList = {};
            var disableoption = "";
            DivisionList.url = "@Url.Action("GetList3", "Report")";
            DivisionList.type = "POST";
            DivisionList.data = JSON.stringify({ RadioGroup: Radiogrp, StatusList: $("#StatusList").val(), DivisionList2: $("#DivisionList2").val() });
            DivisionList.datatype = "json";
            DivisionList.contentType = "application/json";
            DivisionList.success = function (result) {
                $("#SelectionList").empty();
                $("#SelectionList").append("<option value=0>Please Select</option>");
                for (var i = 0; i < result.SelectionList.length; i++) {
                    if ($("#DivisionList2").val() == 0)
                    {
                        disableoption = "disabled";
                    }
                    $("#SelectionList").append("<option value=" + result.SelectionList[i].Value + " " + disableoption + ">" + result.SelectionList[i].Text + "</option>");
                }
            };
            DivisionList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(DivisionList);
        });
    });

    $(document).ready(function () {
        if ($("#DivisionList").val() == 1111) { //edit by fitri 21.1.2022
        debugger
            var DivisionList = {};
            var disableoption = "";
            DivisionList.url = "@Url.Action("GetWorkerListbyDivision", "Report")";
            DivisionList.type = "POST";
            DivisionList.data = JSON.stringify({ DivisionID: $("#DivisionList").val() });
            DivisionList.datatype = "json";
            DivisionList.contentType = "application/json";
            DivisionList.success = function (workerlist) {
                $("#SelectionList").empty();
                $("#SelectionList").append("<option value=1>Please Select</option>");
                for (var i = 0; i < workerlist.length; i++) {
                    if ($("#DivisionList").val() == 1111) //edit by fitri 21.1.2022
                    {
                        disableoption = "disabled";
                    }
                    //$("#SelectionList").append("<option value=" + workerlist[i].Value + " " + disableoption + ">" + workerlist[i].Text + "</option>");
                }
            };
            DivisionList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(DivisionList);
        }

        $("#DivisionList").change(function () {
            debugger
            var DivisionList = {};
            var disableoption = "";
            DivisionList.url = "@Url.Action("GetWorkerListbyDivision", "Report")";
            DivisionList.type = "POST";
            DivisionList.data = JSON.stringify({ DivisionID: $("#DivisionList").val() });
            DivisionList.datatype = "json";
            DivisionList.contentType = "application/json";
            DivisionList.success = function (workerlist) {
                $("#SelectionList").empty();
                $("#SelectionList").append("<option value=0>Please Select</option>");
                for (var i = 0; i < workerlist.length; i++) {
                    if ($("#DivisionList").val() == 0) {
                        disableoption = "disabled";
                    }
                    $("#SelectionList").append("<option value=" + workerlist[i].Value + " " + disableoption + ">" + workerlist[i].Text + "</option>");
                }
            };
            DivisionList.error = function () { $.simplyToast('Sistem masalah', 'danger'); };
            $.ajax(DivisionList);
        });
    });
});
</script>
@*Closed add by fitri 7.9.2021*@