@model IEnumerable<MVC_SYSTEM.ViewingModels.vw_MaklumatProduktiviti>

@{
    int bil = 0;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">@GlobalResEstate.titleRegisterGroupProductvt</h3>
</div>

<div id="divLoading1" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>

@using (Html.BeginForm("_GroupProductivityAdd", "WorkerInfo", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="modal-body">

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">@GlobalResEstate.hdrGroupCode : </label>
            <div class="col-md-2">
                @Html.TextBox("fld_KodKumpulan", null, htmlAttributes: new { @class = "form-control", @Value = @ViewBag.fld_KodKumpulan, disabled = "disabled" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">@GlobalResEstate.hdrWorkAktvt : </label>
            <div class="col-md-5">
                @Html.TextBox("fld_AktivitiKumpulan", null, htmlAttributes: new { @class = "form-control", @Value = @ViewBag.fld_AktivitiKumpulan, disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">@GlobalResEstate.hdrDesc : </label>
            <div class="col-md-8">
                @Html.TextBox("fld_Keterangan", null, htmlAttributes: new { @class = "form-control", @Value = @ViewBag.fld_Keterangan, disabled = "disabled" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">@GlobalResEstate.hdrCategory :</label>
            <div class="col-sm-3">
                @Html.DropDownList("fld_Kategori", null, GlobalResEstate.lblChoose, htmlAttributes: new { @class = "form-control valid", @data_val = "true", @data_val_required = GlobalResEstate.msgCategory})
                @Html.ValidationMessage("fld_Kategori", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">@GlobalResEstate.hdrTarget :</label>
            <div class="col-sm-2">
                @Html.TextBox("fld_TargetHarian", null, htmlAttributes: new { @class = "form-control valid", data_val = "true", data_val_required = GlobalResEstate.msgTarget })
                @Html.ValidationMessage("fld_TargetHarian")
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("SelectionList", null, GlobalResEstate.lblChoose, htmlAttributes: new { @class = "form-control valid", @data_val = "true", @data_val_required = GlobalResEstate.msgUnit, @disabled = "disabled" })
                @Html.ValidationMessage("SelectionList", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">@GlobalResEstate.hdrTargetWorkingDay :</label>
            <div class="col-sm-2">
                @Html.TextBox("fld_HadirKerja", null, htmlAttributes: new { @class = "form-control", @Value = @ViewBag.fld_HadirKerja, @readonly = true })
            </div>
        </div>
        @Html.Hidden("fld_NegaraID", new { Value = (int?)ViewBag.fld_NegaraID })
        <input type="hidden" value="@ViewBag.fld_kumpulanID" name="fld_KumpulanID" />
        @Html.Hidden("fld_SyarikatID", new { Value = (int?)ViewBag.fld_SyarikatID })
        @Html.Hidden("fld_WilayahID", new { Value = (int?)ViewBag.fld_WilayahID })
        @Html.Hidden("fld_LadangID", new { Value = (int?)ViewBag.fld_LadangID })
        @Html.Hidden("fld_HadirKerja", new { Value = (int?)ViewBag.fld_HadirKerja })
    </div>

    <br />
    @if (Model.Any())
    {
    <div class="col-sm-12 text-center" id="noticeDescriptionDiv">
        <div class="col-sm-12 text-center">
            <h3>
                <span class="label label-info">
                    @GlobalResEstate.lblAlert
                </span>
            </h3>
        </div>
        <div id="noticeDescriptionDetailDiv">
            @GlobalResEstate.lblAlertProductvt1.<br />@GlobalResEstate.lblAlertProductvt2<br /><br />
        </div>
    </div>
    <div id="existingProductivityDiv">
        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="existingProductivityTable">
            <thead>
                <tr>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrNo</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrNoPkj</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrName</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrNoKp</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrCategory</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrTarget</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrTargetWorkingDay</th>
                </tr>
            </thead>
            <tbody id="existingProductivityTableBody">
                @foreach (var item in Model)
                {
                bil = bil + 1;
                <tr>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @bil
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.fld_Nopkj
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.fld_Nama
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.fld_Nokp
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.fld_JenisPelan
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.fld_Targetharian
                    </td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @item.fld_HadirKerja
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>

<div class="modal-footer">
    <input class="btn btn-success" type="submit" value=@GlobalResEstate.btnAdd />
    <button class="btn btn-warning" id="incentiveAddBackButton" data-dismiss="modal">@GlobalResEstate.btnBack</button>
</div>
}

<script>
    function resetSearch() {
        document.getElementById("txtfilter").value = "";
        document.getElementById('btnCari').click();
    }
</script>

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");

    $(function () {
        $('#fld_Kategori').on('change',
            function () {
                var jenisPelan = $('#fld_Kategori').val();
                var unit = $('#SelectionList').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("checkCategoryType", "WorkerInfo")',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify({ jenisPelan: jenisPelan }),
                    success: function (result) {
                        $('#SelectionList').prop("disabled", false); 
                        $('#SelectionList').empty();
                        for (var i = 0; i < result.UnitList.length; i++) {
                            $('#SelectionList').append("<option value=" +
                                result.UnitList[i].Value +
                                ">" +
                                result.UnitList[i].Text +
                                "</option>");
                        }
                        if (jenisPelan === '' || jenisPelan === null) {
                            $('#SelectionList').prop("disabled", true); 
                        }
                    }
                });
            });
    });
</script>


