@model MVC_SYSTEM.Models.tbl_TaxWorkerInfoViewModelEdit
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "_WorkerTaxInfoEdit";
    GetConfig GetConfig = new GetConfig();
    //string statusPkj = GetConfig.GetWebConfigDesc(Model.fld_Kdaktf, "statusaktif", Model.fld_NegaraID, Model.fld_SyarikatID);
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">@GlobalResEstate.titleUpdateWorkerTax</h3>
</div>
<section class="content-wrapper main-content clear-fix">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResEstate.lblWorkerTaxInfo</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label><font style="color:red">*</font> This field is required</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label col-md-4">@GlobalResEstate.hdrNoPkj</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.fld_Nopkj, new { @class = "form-control", @readonly = "readonly" })
                                    @*@Html.ValidationMessageFor(model => model.fld_Nopkj, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label col-md-6">@GlobalResEstate.hdrNoPkjPermanent<font style="color:red">*</font></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.fld_NopkjPermanent, new { @class = "form-control", @readonly = "readonly" })
                                    @*@Html.ValidationMessageFor(model => model.fld_NopkjPermanent, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label col-md-4">@GlobalResEstate.hdrName</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.fld_NopkjPermanent, null, new { @class = "form-control", @disabled = "true", @Value = GetConfig.getPkjNameFromPkjNoPermanent(Model.fld_NopkjPermanent, Model.fld_NegaraID, Model.fld_SyarikatID, Model.fld_WilayahID, Model.fld_LadangID, Model.fld_DivisionID, @ViewBag.Host, @ViewBag.User, @ViewBag.Catalog, @ViewBag.Pass) })
                                    @*@Html.TextBoxFor(model => model.fld_Nama, new { @class = "form-control", @readonly = "readonly" })*@
                                    @*@Html.ValidationMessageFor(model => model.fld_Nama, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label col-md-6">@GlobalResEstate.hdrTaxNo<font style="color:red">*</font></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.fld_TaxNo, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.fld_TaxNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label col-md-4">@GlobalResEstate.hdrResidency<font style="color:red">*</font></label>
                                <div class="col-md-8">
                                    @*@Html.DropDownList("Residency", null, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.fld_TaxResidency, new SelectList(ViewBag.Residency, "Value", "Text"), new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.fld_TaxResidency, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label col-md-6">@GlobalResEstate.lblMaritalStatus<font style="color:red">*</font></label>
                                <div class="col-md-6">
                                    @*@Html.DropDownList("MaritalStatus", null, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.fld_TaxMaritalStatus, new SelectList(ViewBag.MaritalStatus, "Value", "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_TaxMaritalStatus, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label col-md-4">@GlobalResEstate.lblDisabledIndividual<font style="color:red">*</font></label>
                                <div class="col-md-8">
                                    @*@Html.DropDownList("DisabledIndividual", null, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.fld_IsIndividuOKU, new SelectList(ViewBag.DisabledIndividual, "Value", "Text"), new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.fld_IsIndividuOKU, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label col-md-6">@GlobalResEstate.lblDisabledSpouse<font style="color:red">*</font></label>
                                <div class="col-md-6">
                                    @*@Html.DropDownList("DisabledSpouse", null, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.fld_IsSpouseOKU, new SelectList(ViewBag.DisabledSpouse, "Value", "Text"), new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.fld_IsSpouseOKU, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label col-md-4">@GlobalResEstate.lblYear<font style="color:red">*</font></label>
                                <div class="col-md-8">
                                    @*@Html.DropDownList("YearList", null, htmlAttributes: new { @class = "form-control" })*@
                                    @*@Html.DropDownListFor(model => model.fld_Year, new SelectList(ViewBag.YearList, "Value", "Text"), new { @class = "form-control", required = "required" })*@
                                    @Html.TextBoxFor(model => model.fld_Year, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.fld_Year, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="col-md-12">
                                    <label class="control-label col-md-9">Children(biological/step/adopted)</label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-12">
                                    <label class="control-label col-md-10">The number of children claimed</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-3">
                                    <label class="control-label col-md-3">&nbsp;&nbsp;100%</label>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label col-md-3">&nbsp;&nbsp;50%</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="col-md-12">
                                    <text class="control-label col-md-12">a) Below 18 years old</text>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_ChildBelow18Full, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_ChildBelow18Full, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_ChildBelow18Half, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_ChildBelow18Half, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="col-md-12">
                                    <text class="control-label col-md-12">b) 18 years old and above and studying (certificate/matriculation)</text>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_ChildAbove18CertFull, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_ChildAbove18CertFull, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_ChildAbove18CertHalf, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_ChildAbove18CertHalf, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="col-md-12">
                                    <text class="control-label col-md-12">c) 18 years old and above and studying (diploma/higher)</text>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_ChildAbove18HigherFull, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_ChildAbove18HigherFull, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_ChildAbove18HigherHalf, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_ChildAbove18HigherHalf, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="col-md-12">
                                    <text class="control-label col-md-12">d) Disabled child</text>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_DisabledChildFull, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_DisabledChildFull, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_DisabledChildHalf, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_DisabledChildHalf, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="col-md-12">
                                    <text class="control-label col-md-12">e) Disabled child (18 years old and above and studying (diploma or higher))</text>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_DisabledChildStudyFull, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_DisabledChildStudyFull, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.fld_DisabledChildStudyHalf, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_DisabledChildStudyHalf, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.fld_NopkjPermanent)
                        @Html.HiddenFor(model => model.fld_Nopkj)
                    </div>  
                </div>
            </div>
         </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value=@GlobalResEstate.btnSave />
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResEstate.btnBack</button>
        </div>
        }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
