
@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.CustomModels.CustMod_MinimumWage>
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "Minimum Wage Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "minimumWageList",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };

    var year = DateTime.Now.Year;
    var month = DateTime.Now.Month;
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>

<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom: 16px">
        @using (Ajax.BeginForm("_MinimumWageInfoSearch", "WorkerInfo", null, options, new {@id = "monimumWageInfoSearch" }))
        {
            <div class="col-sm-2">
                @Html.Label(GlobalResEstate.lblMonth)
                @Html.DropDownList("MonthList", null, htmlAttributes: new {@class = "form-control", @id = "MonthDdl"})
            </div>
            <div class="col-sm-2">
                @Html.Label(GlobalResEstate.lblYear)
                @Html.DropDownList("YearList", null, htmlAttributes: new {@class = "form-control", @id = "YearDdl"})
            </div>
            <div class="col-sm-2" style="padding-top: 25px;">
                <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="getMinimumWage" value=@GlobalResEstate.btnView />
            </div>
        }
    </div>
    
    <div class="well" style="margin-top: 7px">
        <div class="modal-body">
            <div class="panel panel-primary">
                <div class="panel-heading">@GlobalResEstate.lblMinWage</div>
                <div class="panel-body">
                    <div id="minimumWageList">
                        @Html.Action("_MinimumWageInfoSearch", new { MonthList = month, YearList = year })
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer col-md-12">
            <a href=@Url.Action("Index", "WorkerInfo") class="btn btn-warning" role="button">@GlobalResEstate.btnBack</a>
        </div>

    </div>
</section>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog modal-lg" style="width: 85%">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<style>
    .header_table th {
        text-align: center;
        vertical-align: middle !important;
    }

    .nopkj {
        width: 30px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .namapkj {
        width: 300px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .count {
        width: 60px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .nokp {
        width: 30px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .jeniskerja {
        width: 30px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .haribekerja {
        width: 30px !important;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .sebab {
        width: 200px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .pelantindakan {
        width: 200px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tindakan {
        width: 100px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

</style>

<script>
    function resetSearch1() {
        document.getElementById("txtfilter").value = "";
        document.getElementById('btnCari').click();
    }

</script>

