@model IEnumerable<MVC_SYSTEM.CustomModels.CustMod_HargaMenuai>

<div id="scrollArea">
    @if (Model.Any())
    {
        <logo />
        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
            <thead>
                <tr>
                    <th colspan="10" style="text-align: center; vertical-align: middle;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                        <br />
                        @GlobalResEstate.lblHarvestingPriceTable
                    </th>
                </tr>
                <tr>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.lblLevelCode</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.lblLevelName</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.lblHarvestingPrice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @item.KodPeringkat
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @item.NamaPeringkat
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @item.HargaMenuai
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <newpage />
    }

    else
    {
        <hr />
        <div class="text-center">
            @Html.Label((string)@ViewBag.Message)
        </div>
        <hr />
    }

</div>

<div style="text-align:right; margin-top:10px">
    <a class="btn btn-default btn-sm" href="#" id="printpage">
        <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
    </a>
    <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
        <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
    </a>
</div>


