@model IEnumerable<MVC_SYSTEM.MasterModels.tbl_HargaSawitSemasa>
@using MVC_SYSTEM.Class;

@{
    ViewBag.Title = "OilPriceDetail";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig GetConfig = new GetConfig();
    GetTriager GetTriager = new GetTriager();
}

@if (Model.Count() > 0)
{
    <div id="scrollArea" class="modal-body">
        <logo />
        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0" id="tblSample">
            <thead>
                <tr>
                    <th colspan="10" style="text-align:center;vertical-align:middle;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                        <br />
                        @GlobalResEstate.lblOilPrice
                        <br />
                        @GetTriager.GetMonthName(ViewBag.Bulan) @ViewBag.Tahun
                    </th>
                </tr>
                <tr>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrPlant</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.hdrPrice (RM)</th>
                    <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">@GlobalResEstate.lblIncentive (RM)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @GetConfig.GetWebConfigDesc(item.fld_JnsTnmn, "jnsTanaman", item.fld_NegaraID, item.fld_SyarikatID)
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @item.fld_HargaSemasa
                        </td>
                        <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                            @item.fld_Insentif
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <newpage />
    </div>
    <div style="text-align:right; margin-top:10px">
        <a class="btn btn-default btn-sm" href="#" id="printpage">
            <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
        </a>
        <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
            <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
        </a>
    </div>
}
else
{
    <p style="color:red">@GlobalResEstate.msgErrorSearch</p>
}

