@model MVC_SYSTEM.Models.tbl_PktUtama
@{
//string KategoriAktiviti = ViewBag.KategoriAktiviti;
//long id = ViewBag.id;
}
<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Hapus Peringkat</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="col-sm-12" id="selectionsection">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Maklumat Asas Peringkat</div>
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Cost Centre:</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.fld_IOcode, htmlAttributes: new { @class = "form-control col-sm-3", @disabled = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Kod Peringkat:</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.fld_PktUtama, htmlAttributes: new { @class = "form-control col-sm-3", @disabled = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Nama Peringkat:</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.fld_NamaPktUtama, htmlAttributes: new { @class = "form-control col-sm-8", @disabled = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value=@GlobalResEstate.btnYes>
            <button class="btn btn-danger" data-dismiss="modal">@GlobalResEstate.btnNo</button>
        </div>
    }
</section>
