@model MVC_SYSTEM.Models.tbl_Pkjmast
@using MVC_SYSTEM.Class
@{
    ViewBag.Title = "WorkerTransfer";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig getconfig = new GetConfig();
    string dateformat = getconfig.GetData("dateformat3");
}

<section class="content-wrapper main-content clear-fix">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResEstate.titleWorkerTransfer</h3>
    </div>
    @using (Ajax.BeginForm("WorkerTransfer", "BasicInfo", null, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <label>Batch</label>
                            @Html.TextBox("fld_Batch", "", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fld_Batch, "", new { @class = "text-danger" })
                        </div>
                        <div class="pull-left" style="padding-top:25px;">
                            <button class="btn btn-primary" id="btnBatch1" name="btnBatch1">
                                @*<button class="btn btn-primary btnBatch1" name="btnBatch">*@
                                <span class="glyphicon glyphicon-plus"></span>@GlobalResEstate.btnBatch
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <label>Syarikat</label>
                            @Html.DropDownList("fld_SyarikatID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.fld_SyarikatID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            <label>@GlobalResEstate.lblRegion</label>
                            @Html.DropDownList("fld_WilayahID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.fld_WilayahID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            <label>@GlobalResEstate.lblPkjLama</label>
                            @Html.TextBox("PkjTransfer", "", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.fld_Kdjnt, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="col-sm-1" style="padding-top:25px;">
                            @*<input class="btn btn-primary" id="btnFind" value="Teruskan" name="btnFind" />*@
                            <button class="btn btn-primary" id="btnFind" name="btnFind">@GlobalResEstate.btnGo</button>
                        </div>
                    </div>

                    <div class="panel-heading">@GlobalResEstate.lblhdrPersonalInfo</div>
                    <div class="panel-body" id="mklmtPeribadi">

                        @*<div class="form-group" style="text-align:center">
                                <img src="~/Asset/Images/default-user.png" id="image" style="width:300px;height:300px" />
                                <input type="file" name="file" id="file" onchange="changemediacover()" style="text-align:center" />
                            </div>*@
                        @* Added by Shazana on 1/9/2021*@
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label><font style="color:red">*</font> - @GlobalResEstate.msgCompulsory</label>
                            </div>
                        </div>
                        @* Close Added by Shazana on 1/9/2021*@

                        <div class="form-group">
                            @*@Html.HiddenFor(Model => Model.fld_ID)
                                @Html.HiddenFor(model => model.fld_WlyhID)*@
                            @Html.HiddenFor(model => model.fld_IDpkj)
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblPkjBaru</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblPkjBaru<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.TextBox("fld_Nopkj", "", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.fld_Nopkj, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-5">
                                @*<label>@GlobalResEstate.hdrName</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.hdrName<font style="color:red">*</font></label> @*Added by Shazana on 1/9/2021*@
                                @Html.EditorFor(model => model.fld_Nama, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Nama, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4">
                                @*<label>@GlobalResEstate.hdrNoKp</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.hdrNoKp<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.EditorFor(model => model.fld_Nokp, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.fld_Nokp, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblDOB</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblDOB<font style="color:red">*</font></label> @*Added by Shazana on 1/9/2021*@
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.EditorFor(Model => Model.fld_Trlhr, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                @*<label>@GlobalResEstate.lblGender</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblGender<font style="color:red">*</font></label>  @*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Kdjnt", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kdjnt, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblMarriageStatus</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblMarriageStatus<font style="color:red">*</font></label> @*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Kdkwn", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kdkwn, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblPeneroka</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblPeneroka<font style="color:red">*</font></label>  @*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Kpenrka", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kpenrka, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblRace</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblRace<font style="color:red">*</font></label>  @*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Kdbgsa", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kdbgsa, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @* <label>@GlobalResEstate.lblReligion</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblReligion<font style="color:red">*</font></label> @*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Kdagma", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kdagma, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblCitizen</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblCitizen<font style="color:red">*</font></label> @*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Kdrkyt", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kdrkyt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                @*<label>@GlobalResEstate.lblAddress</label> Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblAddress<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.EditorFor(model => model.fld_Almt1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Almt1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @*<label>@GlobalResEstate.lblPostcode</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblPostcode<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.TextBox("fld_Poskod", "", new { @class = "form-control" })
                                @*@Html.EditorFor(model => model.fld_Poskod, new { htmlAttributes = new { @class = "form-control"} })*@
                                @Html.ValidationMessageFor(model => model.fld_Poskod, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @*<label>@GlobalResEstate.lblDistrict</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblDistrict<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.TextBox("fld_Daerah", "", new { @class = "form-control", @readonly = "readonly" })
                                @*@Html.EditorFor(model => model.fld_Almt3, new { htmlAttributes = new { @class = "form-control"} })*@
                                @Html.ValidationMessageFor(model => model.fld_Daerah, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @*<label>@GlobalResEstate.lblState</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblState<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Neg", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Neg, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @*<label>@GlobalResEstate.lblCountry</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblCountry<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Negara", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Negara, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @*added by faeza on 23.09.2021*@
                                <label>@GlobalResEstate.lblMobile [eg: 60121234567]<font style="color:red">*</font></label>
                                @Html.EditorFor(model => model.fld_Notel, new { htmlAttributes = new { @class = "form-control digit" } })
                                @Html.ValidationMessageFor(model => model.fld_Notel, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="panel-heading">@GlobalResEstate.lblTotalRecord.ToUpper()</div>
                    <div class="panel-body" id="mklmtPkj">
                        <div class="form-group">
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblWorkerType</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblWorkerType<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Jenispekerja", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Jenispekerja, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                @* <label>@GlobalResEstate.lblWorkerKtgri</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblWorkerKtgri<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_Ktgpkj", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Ktgpkj, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                <label>@GlobalResEstate.lblPermitNo</label>
                                @Html.EditorFor(model => model.fld_Prmtno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Prmtno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*<div class="col-sm-2">
                                    <label>@GlobalResEstate.lblPermitStart</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.EditorFor(Model => Model.fld_T1prmt, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>*@
                            <div class="col-sm-2">
                                <label>@GlobalResEstate.lblPermitEnd</label>
                                @Html.TextBox("fld_T2prmt", "", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.fld_T2prmt, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-sm-2">
                                    <label>@GlobalResEstate.lblPassportStart</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.EditorFor(Model => Model.fld_T1pspt, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>*@
                            <div class="col-sm-2">
                                <label>@GlobalResEstate.lblPassportEnd</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.EditorFor(Model => Model.fld_T2pspt, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label>@GlobalResEstate.lblDateKLIA</label>
                                @Html.TextBox("fld_Trmlkj", "", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.fld_Trmlkj, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                @*<label>@GlobalResEstate.lblStartWork</label>Commented by Shazana on 1/9/2021*@
                                <label>@GlobalResEstate.lblStartWork<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.EditorFor(Model => Model.fld_Trshjw, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                @*<label>Division</label>Commented by Shazana on 1/9/2021*@
                                <label>Division<font style="color:red">*</font></label>@*Added by Shazana on 1/9/2021*@
                                @Html.DropDownList("fld_DivisionID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_DivisionID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                <label>@GlobalResEstate.lblSupplier</label>
                                @Html.DropDownList("fld_Kodbkl", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Kodbkl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*Added by Faeza on 22/09/2021*@
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label>@GlobalResEstate.lblPaymentMode<font style="color:red">*</font></label>
                                @Html.DropDownList("fld_PaymentMode", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_PaymentMode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                <label>@GlobalResEstate.lblLast4Pan [eg:1111]<font style="color:red">*</font></label>
                                @Html.EditorFor(model => model.fld_Last4Pan, new { htmlAttributes = new { @class = "form-control digit", @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.fld_Last4Pan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <button class="btn btn-primary" id="btnTmbh" name="btnTmbh">
                            @GlobalResEstate.btnApply
                        </button>
                    </div>
                    @*<div class="panel-heading">Maklumat Akaun Pekerja</div>
                        <div class="panel-body" id="mklmtAkaun">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label>Nama Bank</label>
                                    @Html.DropDownList("fld_Kdbank", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_Kdbank, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-4">
                                    <label>No Akaun</label>
                                    @Html.EditorFor(model => model.fld_NoAkaun, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_NoAkaun, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label>No KWSP</label>
                                    @Html.EditorFor(model => model.fld_Nokwsp, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_Nokwsp, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-3">
                                    <label>No SOCSO</label>
                                    @Html.EditorFor(model => model.fld_Noperkeso, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_Noperkeso, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <button class="btn btn-primary" id="btnTmbh" name="btnTmbh">
                                Mohon
                            </button>
                        </div>*@
                </div>
                <div id="content">
                    @* view table *@
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @*<input class="btn btn-primary" type="submit" value="Selesai" />*@
            @*<button class="btn btn-success" id="btnAdd" name="btnAdd"></button>*@
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResEstate.btnBack</button>
        </div>
    }
</section>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@*@section scripts{
        @Scripts.Render("~/Asset/Scripts/appjs.js")
    }*@
@*<script src="~/Asset/Scripts/jquery.datetimepicker.js" type="text/javascript"></script>*@
<script type="text/javascript">
    $(function () {
        $('#fld_Trlhr').datetimepicker({
            timepicker: false,
            format: '@dateformat'
        });
        $('#fld_T1prmt').datetimepicker({
            timepicker: false,
            format: '@dateformat'
        });
        //$('#fld_T2prmt').datetimepicker({
        //    timepicker: false,
        //    format: 'd/m/Y'
        //});
        $('#fld_T1pspt').datetimepicker({
            timepicker: false,
            format: '@dateformat'
        });
        $('#fld_T2pspt').datetimepicker({
            timepicker: false,
            format: '@dateformat'
        });
        $('#fld_Trmlkj').datetimepicker({
            timepicker: false,
            format: '@dateformat'
        });
        $('#fld_Trshjw').datetimepicker({
            timepicker: false,
            format: '@dateformat'
        });


    });

    @*function changemediacover() {
        var selectedImg = $('#file')[0].files[0];
        var selectedImgsize = ($("#file")[0].files[0].size / 1024);
        var selectedImgtype = $("#file")[0].files[0];
        selectedImgtype = selectedImgtype.name.substr((selectedImgtype.name.lastIndexOf('.') + 1));
        alert(selectedImgtype);
        if (selectedImg) {
            var previewId = document.getElementById('image');
            previewId.src = '';

            var oReader = new FileReader();
            oReader.onload = function (e) {
                previewId.src = e.target.result;
            }
            oReader.readAsDataURL(selectedImg);

            //$('#uploadbutton').removeClass('disabled');
        }

        $.ajax({
            url: '@Url.Action("WorkerRequest", "BasicInfo")',
            type: 'POST',
            data: file,
            cache: false,
            processData: false,
            contentType: false,
            //success: function (color) {
            //    ;
            //},
            //error: function () {
            //    alert('Error occured');
            //}
        });
    }*@

</script>
<script>
    $(document).ready(function () {
        var personalInfo = $("#mklmtPeribadi").find(":input");
        var workerlInfo = $("#mklmtPkj").find(":input");
        var acclInfo = $("#mklmtAkaun").find(":input");
        personalInfo.prop("disabled", true);
        workerlInfo.prop("disabled", true);
        acclInfo.prop("disabled", true);
        $("#btnFind").prop("disabled", true); //added by faeza

        if ($("#fld_Kdrkyt").val() == 0) {
            var Kdrkyt = {};
            var disableoption = "";
            Kdrkyt.url = "@Url.Action("GetNopkj", "BasicInfo")";
            Kdrkyt.type = "POST";
            Kdrkyt.data = JSON.stringify({ krkytn: $("#fld_Kdrkyt").val() });
            Kdrkyt.datatype = "json";
            Kdrkyt.contentType = "application/json";
            Kdrkyt.success = function (nopkjnew) {
                $("#fld_Nopkj").empty();
                $("#fld_Nopkj").val(nopkjnew);
            };
            Kdrkyt.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Kdrkyt);
        }
        $("#fld_Kdrkyt").change(function () {
            var Stspkt = {};
            var disableoption = "";
            Kdrkyt.url = "@Url.Action("GetNopkj", "BasicInfo")";
            Kdrkyt.type = "POST";
            Kdrkyt.data = JSON.stringify({ krkytn: $("#fld_Kdrkyt").val() });
            Kdrkyt.datatype = "json";
            Kdrkyt.contentType = "application/json";
            Kdrkyt.success = function (nopkjnew) {
                $("#fld_Nopkj").empty();
                $("#fld_Nopkj").val(nopkjnew);
            };
            Kdrkyt.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Kdrkyt);
        });

        if ($("#fld_Poskod").val() == 0 && $("#fld_Neg").val() == 0 && $("#fld_Negara").val() == 0) {
            var Poskod = {};
            var disableoption = "";
            Poskod.url = "@Url.Action("GetDaerah", "BasicInfo")";
            Poskod.type = "POST";
            Poskod.data = JSON.stringify({ poskod: $("#fld_Poskod").val(), negeri: $("#fld_Neg").val(), negara: $("#fld_Negara").val() });
            Poskod.datatype = "json";
            Poskod.contentType = "application/json";
            Poskod.success = function (daerah) {
                $("#fld_Daerah").empty();
                $("#fld_Daerah").val(daerah);
            };
            Poskod.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Poskod);
        }
        $("#fld_Poskod").change(function () {
            var Poskod = {};
            var disableoption = "";
            Poskod.url = "@Url.Action("GetDaerah", "BasicInfo")";
            Poskod.type = "POST";
            Poskod.data = JSON.stringify({ poskod: $("#fld_Poskod").val(), negeri: $("#fld_Neg").val(), negara: $("#fld_Negara").val() });
            Poskod.datatype = "json";
            Poskod.contentType = "application/json";
            Poskod.success = function (daerah) {
                $("#fld_Daerah").empty();
                $("#fld_Daerah").val(daerah);
            };
            Poskod.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Poskod);
        });

        $("#fld_Neg").change(function () {
            console.log($("#fld_Neg").val())
            var Negeri = {};
            var disableoption = "";
            Negeri.url = "@Url.Action("GetDaerah", "BasicInfo")";
            Negeri.type = "POST";
            Negeri.data = JSON.stringify({ poskod: $("#fld_Poskod").val(), negeri: $("#fld_Neg").val(), negara: $("#fld_Negara").val() });
            Negeri.datatype = "json";
            Negeri.contentType = "application/json";
            Negeri.success = function (daerah) {
                if (daerah != null && daerah != "") {
                    $("#fld_Daerah").empty();
                    $("#fld_Daerah").val(daerah);
                }
                else {
                    $("#fld_Daerah").val("");
                }

            };
            Negeri.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Negeri);
        });

        $("#fld_Negra").change(function () {
            var Negra = {};
            var disableoption = "";
            Negra.url = "@Url.Action("GetDaerah", "BasicInfo")";
            Negra.type = "POST";
            Negra.data = JSON.stringify({ poskod: $("#fld_Poskod").val(), negeri: $("#fld_Neg").val(), negara: $("#fld_Negara").val() });
            Negra.datatype = "json";
            Negra.contentType = "application/json";
            Negra.success = function (daerah) {
                $("#fld_Daerah").empty();
                $("#fld_Daerah").val(daerah);
            };
            Negra.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Negra);
        });

         $("#btnBatch1").click(function () {
            var Batch = {};
            var disableoption = "";
            Batch.url = "@Url.Action("GetBatchNo", "BasicInfo")";
            Batch.type = "POST";
            Batch.data = JSON.stringify({ pkjmstbatchno: 'pkjmstbatchno' });
            Batch.datatype = "json";
            Batch.contentType = "application/json";
            Batch.success = function (newbatch) {
                $("#fld_Batch").empty();
                $("#fld_Batch").val(newbatch);

                //added by faeza 01.06.2023
                if ($("#fld_Batch").val() == null || $("#fld_Batch").val() == '') {
                    $.simplyToast('Batch No is mandatory', 'danger');
                }
                else {
                    $("#btnFind").prop("disabled", false);
                }

                //for (var i = 0; i < newbatch.length){
                //    if ($("#CreateBatch").val == 0) {
                //        disableoption = "disabled";
                //    }
                //}
            };
            Batch.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Batch);
        });

        $("#fld_SyarikatID").change(function () {
           var WilayahIDList = {};
            var disableoption = "";
            WilayahIDList.url = "@Url.Action("GetWilayahList", "BasicInfo")";
            WilayahIDList.type = "POST";
            WilayahIDList.data = JSON.stringify({ syrktID: $("#fld_SyarikatID").val() });
            WilayahIDList.datatype = "json";
            WilayahIDList.contentType = "application/json";
            WilayahIDList.success = function (wilayahlist) {
                $("#fld_WilayahID").empty();
                for (var i = 0; i < wilayahlist.length; i++) {
                    $("#fld_WilayahID").append("<option value=" + wilayahlist[i].Value + " " + disableoption + ">" + wilayahlist[i].Text + "</option>");
                }
                if ($("#fld_WilayahID").val() == 0) {
                    $("#PkjTransfer").prop("disabled", true);
                }
                else {
                    $("#PkjTransfer").prop("disabled", false)
                }
            };
            WilayahIDList.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(WilayahIDList);
        });

        if ($("#fld_WilayahID").val() == 0) {
            $("#PkjTransfer").prop("disabled", true);
        }

        $("#fld_WilayahID").change(function () {
            if ($("#fld_WilayahID").val() == 0) {
                $("#PkjTransfer").prop("disabled", true);
            }
            else {
                $("#PkjTransfer").prop("disabled", false)
            }
        });

        $("#btnFind").click(function (e) {
            console.log("state");
            e.preventDefault();
            var Batch = {};
            var disableoption = "";
            Batch.url = "@Url.Action("GetPkjPindah", "BasicInfo")";
            Batch.type = "POST";
            Batch.data = JSON.stringify({ wlyh: $("#fld_WilayahID").val(), syrkt: $("#fld_SyarikatID").val(), pkj: $("#PkjTransfer").val() });
            Batch.datatype = "json";
            Batch.contentType = "application/json";
            Batch.success = function (result) {
                if (result.Pkjmast == null){
                    @*alert('@GlobalResEstate.msgWorkerTransfer');*@
                    $.simplyToast('@GlobalResEstate.msgWorkerTransfer', 'danger');
                }
                else {
                    //alert(result.nopkjnew);
                    console.log(result.Pkjmast.fld_Neg);
                    personalInfo.prop("disabled", false);
                    workerlInfo.prop("disabled", false);
                    acclInfo.prop("disabled", false);
                $("#fld_IDpkj").val(result.Pkjmast.fld_IDpkj);
                $("#fld_Nama").val(result.Pkjmast.fld_Nama);
                $("#fld_Nokp").val(result.Pkjmast.fld_Nokp);
                $("#fld_Trlhr").val(moment(result.Pkjmast.fld_Trlhr).format("DD/MM/YYYY"));
                $("#fld_Kdjnt").val(result.Pkjmast.fld_Kdjnt);
                $("#fld_Kdkwn").val(result.Pkjmast.fld_Kdkwn);
                $("#fld_Kpenrka").val(result.Pkjmast.fld_Kpenrka);
                $("#fld_Kdbgsa").val(result.Pkjmast.fld_Kdbgsa);
                $("#fld_Kdagma").val(result.Pkjmast.fld_Kdagma);
                $("#fld_Kdrkyt").val(result.Pkjmast.fld_Kdrkyt);
                $("#fld_Almt1").val(result.Pkjmast.fld_Almt1);
                $("#fld_Poskod").val(result.Pkjmast.fld_Poskod);
                $("#fld_Daerah").val(result.Pkjmast.fld_Daerah);
                $("#fld_Neg").val(result.Pkjmast.fld_Neg.trim());
                $("#fld_Negara").val(result.Pkjmast.fld_Negara.trim());
                $("#fld_Jenispekerja").val(result.Pkjmast.fld_Jenispekerja);
                $("#fld_Ktgpkj").val(result.Pkjmast.fld_Ktgpkj.trim());
                $("#fld_Prmtno").val(result.Pkjmast.fld_Prmtno);

                $("#fld_T1prmt").val(moment(result.Pkjmast.fld_T1prmt).format("DD/MM/YYYY"));
                $("#fld_T2prmt").val(moment(result.Pkjmast.fld_T2prmt).format("DD/MM/YYYY"));
                $("#fld_T1pspt").val(moment(result.Pkjmast.fld_T1pspt).format("DD/MM/YYYY"));
                $("#fld_T2pspt").val(moment(result.Pkjmast.fld_T2pspt).format("DD/MM/YYYY"));
                $("#fld_Trmlkj").val(moment(result.Pkjmast.fld_Trmlkj).format("DD/MM/YYYY"));
                $("#fld_Kodbkl").val(result.Pkjmast.fld_Kodbkl);
                $("#fld_Kdaktf").val(result.Pkjmast.fld_Kdaktf);
                $("#fld_Nopkj").val(result.nopkjnew);

                if (result.Pkjmast.fld_T1prmt == null) {
                    $("#fld_T1prmt").val("");
                }
                if (result.Pkjmast.fld_T2prmt == null) {
                    $("#fld_T2prmt").val("");
                }

                if (result.Pkjmast.fld_T1pspt == null) {
                    $("#fld_T1pspt").val("");
                }

                if (result.Pkjmast.fld_T2pspt == null) {
                    $("#fld_T2pspt").val("");
                }

                if (result.Pkjmast.fld_Trmlkj == null) {
                    $("#fld_Trmlkj").val("");
                }
                }
            };
            Batch.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(Batch);
        });

         $("#fld_T1prmt").change(function () {
            var TmtPermit = {};
            var disableoption = "";
            TmtPermit.url = "@Url.Action("GetPermitExpired", "BasicInfo")";
            TmtPermit.type = "POST";
            TmtPermit.data = JSON.stringify({ permitDate: $("#fld_T1prmt").val() });
            TmtPermit.datatype = "json";
            TmtPermit.contentType = "application/json";
            TmtPermit.success = function (exprdDate) {
                var tarikhTamat = new Date(parseInt(exprdDate.substr(6)));
                var month = tarikhTamat.getMonth() + 1;
                var day = tarikhTamat.getDate();
                var year = tarikhTamat.getFullYear();
                var result = ("0" + tarikhTamat.getDate()).slice(-2) + '/' + ("0" + (tarikhTamat.getMonth()+1)).slice(-2) + '/' + year;
                $("#fld_T2prmt").empty();
                $("#fld_T2prmt").val(result.toString());
                //console.log(result);
                //console.log(tarikhTamat);
                //console.log(month);
                //console.log(year);
                //console.log(day);
                //console.log(exprdDate);
            };
            TmtPermit.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(TmtPermit);
         });

        //added by faeza 22.09.2021
        $(".digit").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errormsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        //added by faeza 22.09.2021
        //$(".numeric").keypress(function (e) {
        //    if (e.which == 8 || e.which == 0 || (!(e.which >= 48 && e.which <= 57) && !(e.which > 96 && e.which < 123) && !(e.which > 64 && e.which < 91) && e.which != 32)) {
        //        $("#errormsg").html("Special character not allowed").show().fadeOut("slow");
        //        return false;
        //    }
        //});

        $('#btnTmbh').click(function () {
            var flag = 0;
            @*$('form').find('input').each(function () {
                if (!$(this).val()) {
                    console.log(this);
                    alert('@GlobalResEstate.msgErrorSubmit');
                    flag = 1;
                    return false;
                }
            });*@

            //add by wani 21.5.2021
            var division = $("#fld_DivisionID").val();
        /* Added by Shazana on 1/9/2021*/
            var fld_Trshjw = $("#fld_Trshjw").val();
            var fld_Nama = $("#fld_Nama").val();
            var fld_Jenispekerja = $("#fld_Jenispekerja").val();
            var fld_Ktgpkj = $("#fld_Ktgpkj").val();
            var fld_Trlhr = $("#fld_Trlhr").val();
            var fld_Kdjnt = $("#fld_Kdjnt").val();
            var fld_Kdkwn = $("#fld_Kdkwn").val();
            var fld_Kpenrka = $("#fld_Kpenrka").val();
            var fld_Kdbgsa = $("#fld_Kdbgsa").val();
            var fld_Kdagma = $("#fld_Kdagma").val();
            var fld_Kdrkyt = $("#fld_Kdrkyt").val();
            var fld_Almt1 = $("#fld_Almt1").val();
            var fld_Poskod = $("#fld_Poskod").val();
            var fld_Neg = $("#fld_Neg").val();
            var fld_Negara = $("#fld_Negara").val();
            var fld_Daerah = $("#fld_Daerah").val();
        /* Added by faeza on 21.09.2021*/
            var fld_Notel = $("#fld_Notel").val();
            var fld_PaymentMode = $("#fld_PaymentMode").val();
            var fld_Last4Pan = $("#fld_Last4Pan").val();

            if (division === "0") {
                $("#UpdateProgress1").css("display", "none");
            /* $.simplyToast("Data tidak lengkap", "danger");*/ //Commented by Shazana on 1/9/2021
                $.simplyToast('@GlobalResEstate.msgDivision', "danger"); //Added by Shazana on 1/9/2021
            }

            /* Added by Shazana on 1/9/2021*/
            else if (fld_Trshjw === "") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgStartWorkingDate', "danger");
            }
            else if (fld_Jenispekerja === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgWorkerType', "danger");
            }
            else if (fld_Ktgpkj === "0")
            {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgWorkerCategory', "danger");
            }
            else if (fld_Kdjnt === "0")
            {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgGender', "danger");
            }
            else if (fld_Nama === "")
            {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgName', "danger");
            }
            else if (fld_Trlhr === "")
            {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgDOB', "danger");
            }
            else if (fld_Kdkwn === "0")
            {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgMarriage', "danger");
            }
            else if (fld_Kpenrka === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgSettlersFamily', "danger");
                }
            else if (fld_Kdbgsa === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgRace', "danger");
                }
            else if (fld_Kdagma === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgReligion', "danger");
            }
            else if (fld_Kdrkyt === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgCitizen', "danger");
            }
            else if (fld_Almt1 === "") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgAddress', "danger");
            }
            else if (fld_Poskod === "") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgPoscode', "danger");
            }
            else if (fld_Neg === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgState', "danger");
            }
            else if (fld_Negara === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgCountry', "danger");
            }
            else if (fld_Daerah === "") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgDistrict', "danger");
            }
            else if (fld_Notel === "") { //added by faeza 21.09.2021
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgNoTel', "danger");
            }
             else if (fld_PaymentMode === "0") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgPaymentMode', "danger");
            }
            else if (fld_PaymentMode === "3" && fld_Last4Pan === "") {
                $("#UpdateProgress1").css("display", "none");
                $.simplyToast('@GlobalResEstate.msgLast4Pan', "danger");
            }


            /* Close Added by Shazana on 1/9/2021*/
            else {
            //end add by wani 21.5.2021

            if (flag === 0)
            {
                var tbl_Pkjmast = {
                fld_Batch: $("#fld_Batch").val(),
                fld_Nopkj: $("#fld_Nopkj").val(),
                fld_Nama: $("#fld_Nama").val(),
                fld_Nokp: $("#fld_Nokp").val(),
                fld_Trlhr: $("#fld_Trlhr").val(),
                fld_Kdjnt: $("#fld_Kdjnt").val(),
                fld_Kdkwn: $("#fld_Kdkwn").val(),
                fld_Kpenrka: $("#fld_Kpenrka").val(),
                fld_Kdbgsa: $("#fld_Kdbgsa").val(),
                fld_Kdagma: $("#fld_Kdagma").val(),
                fld_Kdrkyt: $("#fld_Kdrkyt").val(),
                fld_Almt1: $("#fld_Almt1").val(),
                fld_Poskod: $("#fld_Poskod").val(),
                fld_Daerah: $("#fld_Daerah").val(),
                fld_Neg: $("#fld_Neg").val(),
                fld_Negara: $("#fld_Negara").val(),
                fld_Jenispekerja: $("#fld_Jenispekerja").val(),
                fld_Ktgpkj: $("#fld_Ktgpkj").val(),
                fld_Prmtno: $("#fld_Prmtno").val(),
                //fld_T1prmt: $("#fld_T1prmt").val(),
                fld_T2prmt: $("#fld_T2prmt").val(),
                //fld_T1pspt: $("#fld_T1pspt").val(),
                fld_T2pspt: $("#fld_T2pspt").val(),
                fld_Trmlkj: $("#fld_Trmlkj").val(),
                fld_Trshjw: $("#fld_Trshjw").val(),
                fld_Kodbkl: $("#fld_Kodbkl").val(),
                fld_Kdaktf: $("#fld_Kdaktf").val(),
                //fld_Kdbank: $("#fld_Kdbank").val(),
                //fld_NoAkaun: $("#fld_NoAkaun").val(),
                //fld_Nokwsp: $("#fld_Nokwsp").val(),
                //fld_Noperkeso: $("#fld_Noperkeso").val()
                    fld_DivisionID: $("#fld_DivisionID").val(),
                //added by faeza 21.09.2021
                fld_Notel: $("#fld_Notel").val(),
                fld_PaymentMode: $("#fld_PaymentMode").val(),
                fld_Last4Pan: $("#fld_Last4Pan").val()

            };
             var reloadPage = {};
            console.log(tbl_Pkjmast);
            reloadPage.url = "@Url.Action("WorkerRequest", "BasicInfo")";
            reloadPage.type = "POST";
            reloadPage.data = { Pkjmast: tbl_Pkjmast, jnsPermohonan: "PL", wlyhAsal: $("#fld_WilayahID").val(), pkjAsal: $("#PkjTransfer").val()};
            reloadPage.datatype = "json";
            reloadPage.success = function (result) {
                $("#content").html(result.bodyview);
                //$("#fld_Batch").val();
                $("#fld_Nopkj").val("");
                $("#fld_Nama").val("");
                $("#fld_Nokp").val("");
                $("#fld_Trlhr").val("");
                $("#fld_Kdjnt").val(0);
                $("#fld_Kdkwn").val(0);
                $("#fld_Kpenrka").val(0);
                $("#fld_Kdbgsa").val(0);
                $("#fld_Kdagma").val(0);
                $("#fld_Kdrkyt").val(0);
                $("#fld_Almt1").val("");
                $("#fld_Poskod").val("");
                $("#fld_Daerah").val("");
                $("#fld_Neg").val(0);
                $("#fld_Negara").val(0);
                $("#fld_Jenispekerja").val(0);
                $("#fld_Ktgpkj").val(0);
                $("#fld_Prmtno").val("");
                $("#fld_T1prmt").val("");
                $("#fld_T2prmt").val("");
                $("#fld_T1pspt").val("");
                $("#fld_T2pspt").val("");
                $("#fld_Trmlkj").val("");
                $("#fld_Trshjw").val("");
                $("#fld_Kodbkl").val(0);
                $("#fld_DivisionID").val(0); //add by wani 21.5.2021
                //added by faeza 21.09.2021
                $("#fld_Notel").val("");
                $("#fld_PaymentMode").val(0);
                $("#fld_Last4Pan").val("");
                $.simplyToast(result.msg, result.statusmsg);
                //$("#fld_Kdaktf").val();
                //$("#fld_Kdbank").val(0);
                //$("#fld_NoAkaun").val("");
                //$("#fld_Nokwsp").val("");
                //$("#fld_Noperkeso").val("");
                //$.simplyToast('Sistem Berjaya', 'danger');
            };
            reloadPage.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(reloadPage);
                }
            } //add by wani 21.5.2021

        });
    });
</script>
